[2014-12-14 11:03] yakovkhalinsky opened #2 "Add tests"

[2014-12-14 11:03] yakovkhalinsky opened #3 "Setup automated builds"

[2014-12-14 11:05] yakovkhalinsky opened #4 "Write documentation for contributors"

[2014-12-14 11:06] yakovkhalinsky opened #5 "Setup .editorconfig file"

[2014-12-14 11:06] yakovkhalinsky opened #6 "Setup JSHinting"

[2014-12-14 21:49] yakovkhalinsky opened #7 "Investigate a better way to do logging that still supports stealthmode"
Suggestioned from @galkinrost

[code]

[2014-12-26 12:09] pedro-teixeira opened #8 "Query parameters"
I'm trying to include query parameters but it's not working, I'm using the correct syntax?

`/users/{id}/{?include}`

[2015-01-16 10:46] fastman opened #10 "Proxying not defined request"
Hi,

What do you think about adding an option to proxy not defined path from defined upstream server?

[2015-01-17 01:09] yakovkhalinsky commented on #10
Definitely a great idea.

Could mean you can proxy some routes to a real back end, or another fake back end.

I'll mark this as an enhancement.

[2015-01-17 01:11] #8 closed

[2015-01-17 01:34] yakovkhalinsky opened #11 "Add support for giving specific responses to specific query parameters"
`/api/things?page=1` should response differently to `/api/things`

[2015-01-20 02:15] yakovkhalinsky commented on #6
project files are now run through JSHint

[2015-01-20 02:15] #6 closed

[2015-01-22 21:30] ahmad2x4 opened #13 "Drakov returns error when GET request has content-type: application/json in header"
Unit test fails when a GET request has header with content-type: application/json
e.g

### Retrieve all the things [GET]
+ Request
    + Header

      content-type: application/json

unit test fails and return following error

  Error: expected [ { text: 'Zip2', id: '1' },
    { text: 'X.com', id: '2' },
    { text: 'SpaceX', id: '3' },
    { text: 'Solar City', id: '4' },
    { text: 'Hyperloop',

[2015-01-26 17:50] skawaguchi opened #15 "Add CORS support"
I think it's fairly important to be able to support CORS. It should probably be configurable as well. I don't mind making a pull request unless this is already in the works.

[2015-01-26 17:51] skawaguchi opened #16 "Gulp Integration"
Is there a way that Drakov can work nicely with Gulp?

[2015-01-26 20:16] yakovkhalinsky commented on #15
Definitely agree with this. We originally built this tool for our own particular use case, but since we've open source it, I'd love to see this become useful for all API blueprint implementations.

We'll review your #17 pull request and get it in as soon as we can. :+1:

[2015-01-26 20:17] yakovkhalinsky commented on #10
I've started working on this and will have a branch with support for upstream proxying undefined paths shortly. :+1:

[2015-01-26 20:23] yakovkhalinsky commented on #16
We designed Drakov with an easy to use API, so it could be required directly as a node module.

I wouldn't mind throwing together a gulp plugin or assist someone else who might be interested in doing so.

Quoting our code snipper on using Drakov as a node module directly, you can easily setup it up like so:
[code]

As your gulp task should be running in a single thread, it should kill off Drakov a

[2015-01-26 20:24] yakovkhalinsky commented on #16
Just a note, you would need to `npm install drakov --save-dev` to have the above require work without using a relative path to it.

[2015-01-26 20:26] skawaguchi commented on #15
Cool. One other item to consider is optional SSL support as well.

[2015-01-26 20:27] yakovkhalinsky commented on #15
Yep excellent suggestion. I'll an issue for that one :+1:

[2015-01-26 20:28] yakovkhalinsky opened #18 "SSL Support"
Add support for adding an SSL certification and key for handling HTTPS connections.

[2015-01-26 20:33] skawaguchi commented on #16
Oh, I see! I'll try that out.

The wrinkle with knowing when to kill Drakov is that we'd like to have it running as part of a suite of tools that we use while developing (Aglio, Karma, Protractor, a few Connect preview servers), and we'd like to manage these in as few gulp tasks as possible. It's going OK, but we need to give the whole thing a lot more love.

Anyhow, I'll let you know how it goes,

[2015-01-26 21:57] yakovkhalinsky commented on #16
@skawaguchi sounds interesting that things you guys are doing.

I think that perhaps we need to consider a more comprehensive, stop/run API for Drakov for these kind of use cases.

We have a grunt plugin that we made to run with Selenium and Protractor: https://github.com/Aconex/grunt-blueprint-test-runner, it's pretty rough, but does the job of interface testing for Angular UI's for us.

I'll kee

[2015-01-27 21:13] skawaguchi commented on #16
@yakovkhalinsky, I tried a very simple task to start, and it's erroring out with `Segmentation fault: 11`. Here's my code:

    var gulp = require ( 'gulp' );
    var drakov = require ( 'drakov' );

    gulp.task ( 'drakov-server', function () {

      var argv = {
        sourceFiles: './api/output/my-api-file.md',
        serverPort: 5557
      };

      drakov.run(argv);

    });

Here's the co

[2015-01-27 21:44] yakovkhalinsky commented on #16
@skawaguchi which operating system are you running? I'll give this a go on my machine.

[2015-01-27 21:53] yakovkhalinsky commented on #16
@skawaguchi Just tried it (Mac OS X 10.10.2) without issues.

The only thing I could think that might give a segfault is if protaganist, which compiles snowcrash didn't compile propertly in `node_modules` where you are running your gulp task.

[2015-01-27 22:21] yakovkhalinsky commented on #15
PR #17 has been merged

[2015-01-27 22:21] #15 closed

[2015-01-27 22:29] skawaguchi commented on #16
I'm on OS X as well. 10.10.1. Is there a way to check if snowcrash compiled properly?

[2015-01-27 23:08] #3 closed

[2015-01-27 23:08] #5 closed

[2015-01-28 06:58] marcelogo commented on #13
Fixed in version 0.0.13

[2015-01-28 06:58] #13 closed

[2015-01-28 06:59] marcelogo commented on #2
Done!

[2015-01-28 08:05] marcelogo commented on #18
Done in 0.0.14

[2015-01-28 08:05] #18 closed

[2015-01-28 15:43] yakovkhalinsky commented on #16
After a bit of discussion with @skawaguchi found the segfault to be caused by another module :+1:

For anyone else who is interested in using Drakov with gulp, here's a snippet of code that start's and stops Drakov as an example of interacting with Drakov in gulp:
[code]

[2015-01-28 15:43] #16 closed

[2015-01-28 16:18] skawaguchi commented on #16
For posterity, the problem was that I was loading in another API Blueprint tool called Aglio in my gulp tasks using requiredir. Strangely enough, including gulp-aglio outside of my export breaks Drakov:

    // buildAPIDocs.js - this breaks Drakov
    var aglio = require ( 'gulp-aglio' );
    var gulp = require ( 'gulp' );
    var include = require ( 'gulp-file-include' );

    module.exports.task

[2015-02-02 13:01] fastman opened #20 "Loading resources APIB from string"
Hi,
I've got another idea. It would be great if there was an option to load APIB resources from strings not only from paths.
The use case is using generated resources in test environment setup and omit the step when you have to resource content to file.
What do you think?

[2015-02-03 07:44] yakovkhalinsky commented on #7
@marcelogo I'm pretty happy with how we've setup logging, closing this off now :+1:

[2015-02-03 07:44] #7 closed

[2015-02-03 07:45] yakovkhalinsky commented on #20
We are currently working on handling query parameters, once this is done, we should be in a much better position to handle reading in API Blueprint specs as a JSON string :+1:

[2015-02-05 20:12] yakovkhalinsky commented on #2
Reopening this as we need unit tests on the internal modules

[2015-02-08 03:02] yakovkhalinsky opened #22 "Protagonist doesn't build on 0.11 and 0.12 of Node.js"
Currently the protagonist libary, which is responsible for parsing API Blueprint files into an AST, doesn't build on 0.11 or 0.12 of node.js

[2015-02-08 03:05] yakovkhalinsky commented on #22
The only work around for this currently is to run on node.js version 0.10.x

[2015-02-11 14:08] TUNER88 opened #26 "Add "Access-Control-Allow-Methods" for available methods"
I try to `DELETE` angular resource, and get following error in Chrome Console.

[code]

If i add Allow-Methodes header in `request.js` everything works fine.

[code]

It would be nice, if you can dynamically add Header for all available methods

![screen shot 2015-02-11 at 15 00 36](https://cloud.githubusercontent.com/assets/1565397/6148193/a341a4b6-b1ff-11e4-9b87-c4a9da3a6165.png)

[2015-02-11 20:22] yakovkhalinsky commented on #26
definitely a quick win, will get that in for the next milestone release :+1:

[2015-02-11 20:26] yakovkhalinsky opened #27 "Bring arguments module up to date"
Also need to make sure I document how to update this module for contributors who add things to `argv`.

[2015-02-11 22:04] yakovkhalinsky commented on #27
#28 for this milestone release

[2015-02-11 22:13] #27 closed

[2015-02-12 02:39] yakovkhalinsky commented on #26
Have added this into #29

Just waiting for the build to go green, then I will merge it into master.

You can expect this to be available via npm on Saturday :+1:

[2015-02-12 02:40] #26 closed

[2015-02-12 04:44] yakovkhalinsky commented on #4
Added some more details in the README in #25

[2015-02-12 04:44] #4 closed

[2015-02-12 09:44] TUNER88 commented on #26
Awesome support, thx!!!

[2015-02-13 04:50] yakovkhalinsky opened #31 "Github Pages site"
The README is getting a bit too chunky.

I would like to setup a nice github pages site for easier to read documentation.

[2015-02-16 06:49] marcelogo commented on #11
#33

[2015-02-16 06:51] #11 closed

[2015-02-17 06:18] marcelogo opened #35 "Create a strict mode for query parameter matching."
Run query parameter matching in 2 modes:

1. fall back to best match (existing mode)

2. strict match (don't fall back). In this case the call won't match when the call has additional parameters.

[2015-02-17 15:03] yakovkhalinsky opened #36 "Bring back route setup log messages"

[2015-02-17 15:04] yakovkhalinsky commented on #36
Done in commit https://github.com/Aconex/drakov/commit/c88f3b9e5fa42f0bebd32150fd49d551c56e7d35

[2015-02-17 15:04] #36 closed

[2015-02-19 00:32] marcelogo opened #37 "Update documentation for Query Parameters"

[2015-02-19 00:34] marcelogo commented on #8
@pedro-teixeira We have released support for query parameters. Check out the latest version and try it. Let us know if you have any issue.

[2015-02-22 17:13] yakovkhalinsky opened #38 "Express 4.11.x Doesn't Work, 4.12 required"
Waiting on the 4.12 version of express till we can provide full support for newer version of Node.js and start testing on io.js.

[2015-02-22 17:15] yakovkhalinsky commented on #22
#38 also a dependency for updating Drakov's support for new version of Node.js

[2015-02-22 17:58] MichielDeMey opened #39 "Deal with (optional) headers"
Let's try and start a discussion about (optional) headers.

In my use-case, you have to specify your language through the `Accept-Language` header and depending on the selected language, the response is different.

[code]

One thing I noticed however is that drakov will return a `404` if the header doesn't match the one specified in the blueprint. However, in my API the `Accept-Language` header is

[2015-02-23 07:42] yakovkhalinsky commented on #39
@MichielDeMey I've had a brief discussion with my colleagues about this and we feel that making the header matching less strict would complicate the rules around response/request pair matching.

I think that being specific with the headers allows you to get a more predictable response from Drakov.

[2015-02-23 08:35] MichielDeMey commented on #39
Makes sense, however, does Drakov currently support use-case 1 (example suplied)?

In that case I can define a response without an active header and treat that as the default response.

[2015-02-23 08:49] yakovkhalinsky commented on #39
Yep, absolutely.

We have a test Blueprint file we test against to ensure behaviours against headers:
https://github.com/Aconex/drakov/blob/master/test/example/md/headers.md

Let me know if you have any trouble with the headers :+1:

[2015-02-24 20:54] ghost opened #40 "Add watch flag to reload API"
It would be nice to have drakov reload if any of the glob pattern matches change.

[2015-02-24 20:56] stroml opened #41 "Make stop() noop if drakov is not started"
Currently there is no way to check if drakov is running via API, so stop() should be a noop OR there should be an isRunning() function to check if the instance of drakov is running.

[2015-02-25 09:29] #41 closed

[2015-02-27 11:11] yakovkhalinsky commented on #40
Investigating different approaches, will try and get this into the next milestone :+1:

[2015-03-05 23:55] MichielDeMey commented on #39
Just tested this, works as expected. :)
Simply specifying a response without a header will treat it as the default response in case a header is not present.

[2015-03-05 23:55] #39 closed

[2015-03-13 11:47] dialelo opened #43 "Automatically respond to OPTIONS requests"
Wouldn't it make sense to automatically respond to `OPTIONS` requests? Drakov knows about the HTTP methods that a certain URL can respond to so it can provide `Allow` and `Access-Control-Allow-Methods` headers in the response.

If this is possible/desirable I'd be happy to work on a patch for implementing it.

[2015-03-13 23:04] yakovkhalinsky commented on #43
Hi @dialelo Drakov has the `method` argument, which adds the  `Access-Control-Allow-Methods`, I'm not sure if there is a specific use case where would need to automagically respond the the `OPTIONS` header.

We prefer that Drakov respects the blueprint files themselves.

Let me know your thoughts.

[2015-03-14 23:02] gillesdemey opened #44 "Dredd fails because of setting encoding"
Currently, when running Dredd on a Drakov instance it reports that the `Content-Type` header is incorrect.

This is because Express adds `; charset=utf-8` to the `Content-Type` header when setting the encoding on the request object (https://github.com/Aconex/drakov/blob/master/lib/middleware/request.js#L6).

Any particular reason why we're explicitly setting the encoding and not honoring the bluep

[2015-03-15 02:48] yakovkhalinsky commented on #44
Good question @gillesdemey there's requirement to set the charset in the response.

Just curious, may I ask why you are running Dredd against Drakov?

[2015-03-15 02:49] yakovkhalinsky commented on #44
I think if there is no good reason for us to set the character encoding we can take that line out :+1:

[2015-03-15 09:12] gillesdemey commented on #44
No particular reason, I just wanted to give Dredd a try and I didn't want to create an express application — so Drakov seemed like the perfect solution :)

[2015-03-16 00:19] marcelogo commented on #44
@gillesdemey We have removed the encoding from the request. Turns out, however, that Express implicitly adds a the default character encoding on all responses if it is not specified.

Perhaps this is something which Dredd should not enforce on this particular header.

We are going to do a spike in here but we are not sure if it is something Drakov could address.

[2015-03-16 03:23] marcelogo commented on #44
@gillesdemey

We figured out that Express explicitly sets the charset to `utf-8`. https://github.com/strongloop/express/blob/master/lib/response.js#L148

Even when the response body is an object. It converts it to string and call send again.
https://github.com/strongloop/express/blob/master/lib/response.js#L233

As we understand that Drakov must strictly follow what is defined in the blueprint fil

[2015-03-16 20:39] gillesdemey commented on #44
I'll check it out again tonight and I'll let you know.

I didn't know that Express actually looked at the response body type, interesting :)

Thanks for all the effort you've put into this, even though I understand that the use-case is pretty weird.

[2015-03-16 20:39] #44 closed

[2015-03-16 22:53] gillesdemey commented on #44
The fix is working, no more fails! :+1:

[2015-03-19 13:47] dialelo commented on #43
Makes sense, although documenting `OPTIONS` requests for every URL in the API can get a bit tedious. Since you have access to the metadata required for `Access-Control-Allow-Methods` and `Access-Control-Allow-Headers` i thought it'd be cool to automatically respond to `OPTIONS` requests.

[2015-04-02 21:44] matthewwithanm commented on #43
@yakovkhalinsky The specific use case is [preflighted requests][1]. Normally this isn't something you'd want to have to specify for every resource; it's more of a global API setting (usually accomplished with middleware) with other CORS handling.

[1]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests

[2015-04-03 08:28] dialelo commented on #43
Exactly.

[2015-04-03 09:36] yakovkhalinsky commented on #43
Mmm reading that info on the preflighted requests, it makes sense.

We'll have a look at this and look at incorporate something in a release for next week :+1:

[2015-04-03 09:44] dialelo commented on #43
Great news, glad to read that.

[2015-04-03 13:53] matthewwithanm commented on #43
Awesome, thanks!

[2015-04-03 20:41] lettertwo opened #46 "Way to relax `isBodyEqual` comparison?"
Currently, when making a POST request to drakov, the (json or form-encoded) request body must exactly match the example request body in the spec. This prevents basic testing of application request logic against the mock, because your app won't always be sending the same body content. Should the checking be relaxed (i.e. just checking to see if keys are present), or even removed completely?

I'm ha

[2015-04-03 21:27] yakovkhalinsky commented on #46
@lettertwo this is something @marcelogo and I have discussed a lot during the course of Drakov's evolution, as well as with others who have used it.

Perhaps we need to look at properly documenting the goals of Drakov as a tool and where it fits in terms of testing and how to best use it - one of these goals being to maintain it's stateless nature.

In the context of reading and using the Blueprin

[2015-04-03 21:38] lettertwo commented on #46
@yakovkhalinsky thanks for the quick, thoughtful response. I think I was a little unclear about my use case, so let me try to clarify. I don't want drakov to know about any state. I have an API consumer that makes POST requests. Currently, drakov rejects those requests unless the payload [*exactly* matches][1] what's in the API doc. This makes it impossible to use drakov when testing user-entered

[2015-04-04 11:02] yakovkhalinsky commented on #46
OK, perhaps we could look at implementing JSON schema as a way of matching the request body.

Response body will still be the same though, would that still work in your usecase @lettertwo ?

[2015-04-04 13:17] MichielDeMey opened #47 "Resource Groups are deprecated"
Hi, I noticed that this module makes use of the `Resource Group` object defined in the ast format.

I'd just like to point out that they are now deprecated and will soon disappear from the spec altogether.
They've been replaced by the `category` element.

See https://github.com/apiaryio/api-blueprint-ast#resource-group-object for more information.

Is this something that's currently on the develop

[2015-04-04 13:18] MichielDeMey commented on #43
:+1: I was also looking for this feature.

[2015-04-04 22:20] yakovkhalinsky commented on #47
@MichielDeMey this sort of update will probably come once we have a newer version of protagonist.

Generally with specification updates we pretty much follow what is implemented in the protagonist library. My understanding is that we are ok for now as there will be a transition period in the new Blueprint API spec.

I'll leave this issue open as it is still relevant :+1:

Will update this issue on

[2015-04-04 22:21] yakovkhalinsky commented on #46
Just an updated I've had a brief discussion with @marcelogo and we'll see if we can work this into next week's release.

[2015-04-06 12:17] suleymanccelik opened #48 "Get json response according to uri parameter value"
Hi everyone,

How can I achieve to get json response according to uri parameter value? If p is equal to Y, I want to get first json body. But there is no p field in json body. If p is equal to X,  I want to get second json body. I am using drakov as mock server. When I start drakov mock server, Both localhost:3000/api.php?p=Y and localhost:3000/api.php?p=X returns first json body.

drakov url : ht

[2015-04-06 15:00] lettertwo commented on #46
@yakovkhalinsky @marcelogo  :+1: yeah, that sounds good to me–I want to be able to test that the request is formed correctly, so the only thing that matters from the response is that it succeeds or fails.

[2015-04-06 20:52] yakovkhalinsky commented on #48
Hi @suleymanccelik this is currently not possible.

Currently Drakov only looks at the key of the query parameter. This is however on our roadmap.

We did a refactor of our route handling a short time ago with the view of handling these situations better in the future.

I'll do a review of what we need to do to achieve responses based on particular query parameter values and update you in this iss

[2015-04-06 21:22] suleymanccelik commented on #48
Thanks for reply @yakovkhalinsky . Looking forward this feature.

[2015-04-07 16:21] onato opened #49 "Not responding when sent data"
I get the correct response from…

[code]

…but not from…

[code]
*Response: Cannot POST /login*

When I use the same API blueprint on app.apiary.io both request work.

[code]

[2015-04-08 01:54] yakovkhalinsky commented on #49
Hi @onato we'll do some testing and get back to you :+1:

[2015-04-08 05:39] marcelogo commented on #49
@onato

we have found 2 situations in your case.

a. You should specify a media type on your blueprint file. Apparently curl defaults the request media type to `application/x-www-form-urlencoded`. Due to this, Drakov is unable to match the actual request with the spec request.

b. Snowcrash parses the body content with a new line at the end. This is one situation we believe to be addressable by Dr

[2015-04-08 07:47] marcelogo commented on #49
A fix has been released.

Please test it and let us know how it goes.

[2015-04-08 08:27] onato commented on #49
Now it works fine. Thanks for the impressively fast response.

[2015-04-08 08:27] #49 closed

[2015-04-08 08:30] onato commented on #48
I would also love to see this feature.

I would like to use it for mocking an API for UI testing and creating screenshots for the App Store.

[2015-04-18 18:32] olivier-work commented on #10
Proxying for not only non-defined paths would be good as a way of adding custom handlers to apib.

[2015-04-19 11:18] yakovkhalinsky commented on #10
hi @olivier-work appreciate you making this current.

We've had some code in the works for this, but haven't had the time to explore this properly.

I'll update this issue when we are looking at this again :+1:

[2015-04-27 07:11] marcelogo commented on #46
@lettertwo

We released feature to use JSON Schema to match the request body against the specification. It should relax the comparison given that you won't need a body example on the request to ensure the equality.

[2015-04-27 07:16] marcelogo commented on #46
@lettertwo
Check it out and let us know how it goes.

[2015-05-03 00:46] deanmraz opened #51 "Having issues with POST, PUT and DELETE"
Does the request methods POST/PUT/DELETE work?

I've even tried setting up the example docs and couldn't get them to work.
ie. sourceFiles: 'node_modules/drakov/test/example/md/**.md',

[2015-05-03 05:13] yakovkhalinsky commented on #51
Hey @deanmraz sorry to hear your having trouble.

Are you running it as middleware or from the command line?

Can you paste in the command you are running?

[2015-05-03 05:14] yakovkhalinsky commented on #51
Oh and any output you are getting would be useful as well, thanks

[2015-05-04 00:35] deanmraz commented on #51
@yakovkhalinsky I've done both, started with the middleware and checked to see if the command line was working. Most of the GET methods work but haven't been able to run any POST, PUT or DELETE.

I've even tested the examples in the test. The /api/multiple doesn't seem to work for both GET & POST, I get these errors:
Cannot GET /api/multiple
Cannot POST /api/multiple

This is the command I ran:
dr

[2015-05-04 04:46] marcelogo commented on #51
@deanmraz

Please note that some headers are mandatory in order to get the response described in the md file.

The first `GET` requires a `Custom-header: First' to be set.

[code]

The same situation occurs for the `POST` method. Two things are required:

- The `Content-Type` header with `application/json`
- The `body` with ` {"first": "example"}`

[code]

Could you please check it and let us know

[2015-05-04 04:49] yakovkhalinsky commented on #51
@deanmraz how are you sending the POST, PUT and DELETE message?

Are you using curl or something like postman?

[2015-05-04 05:26] deanmraz commented on #51
@yakovkhalinsky using postman

@marcelogo that was it, didn't have the right headers.

Thank you both and much appreciated!

[2015-05-04 05:26] #51 closed

[2015-05-06 23:10] yakovkhalinsky commented on #38
PR #52 may have resolved this issue

Will need to check this.

[2015-05-07 03:29] #46 closed

[2015-05-07 03:30] yakovkhalinsky commented on #22
Thank you very much to @galkinrost for sorting this out :+1:

[2015-05-07 03:30] #22 closed

[2015-05-07 21:29] charly-palencia opened #53 "Required params and GET methods"
### Example
If i create something like this:

[code]

#### Expected behaviour
**When** i send a request like ```get /api/var/12```
**Then** i should receive some error about validate parameters

#### Problem
If i send the request above i'm receiving a valid request(200 status response). is that ok? (i'm new with drakov. so, i want to be sure that i'm not doing anything wrong (probably i did )

tha

[2015-05-08 06:30] yakovkhalinsky commented on #53
Hi @charly-palencia the way it works is drakov matches from specific to less specific.

That way you can have request/response pairs for different combinations of query parameters.

In you case it means that a GET with no query parameters will still match.

Hope that makes sense :8ball:

[2015-05-08 14:19] charly-palencia commented on #53
yeah! that's what i need!  thank you so much @yakovkhalinsky !

[2015-05-08 14:19] #53 closed

[2015-05-12 16:53] jaysonsantos opened #54 "Add a flag to specify binding address"
Somewhere between version 0.1.3 and 0.1.5 drakov stopped listening on 0.0.0.0, which is useful in docker for example, if the default behaviour now is 127.0.0.1 it think that is good to have a flag to specify the listening address as it is impossible to run drakov on docker now.

[2015-05-12 22:47] yakovkhalinsky commented on #54
Hi @jaysonsantos right you are.

I will look at this now, patch and publish ASAP to npm to address this.

On a side note, I'd be interested to hear about your usage of drakov via docker.

[2015-05-12 22:53] #38 closed

[2015-05-16 04:01] yakovkhalinsky commented on #54
PR #55 should address this.

Will do a little bit of testing and then send this up to NPM :+1:

Sorry for the breakage.

[2015-05-16 05:49] yakovkhalinsky commented on #54
OK I have tested the code with the PR and done some housekeeping.

Will be releasing 0.1.6 which will include a fix for using drakov on a public IP interface :+1:

[2015-05-16 05:49] #54 closed

[2015-05-18 08:38] jaysonsantos commented on #54
Hi @yakovkhalinsky thank you :)
About the docker part, we are using it there because we run a container with drakov and aglio so mobile/frontend developers don't have to install the whole stack in their machines.

[2015-05-19 05:36] yakovkhalinsky opened #57 "Update changelog"
The changelog has become a little out of date I should update it :8ball:

[2015-05-27 12:13] Art4 opened #58 "Wrong query string handling"
Drakov seems to still have problems with query string parameters. As you can see [in this build](https://travis-ci.org/Art4/youthweb-api/jobs/64205762) Drakov should register these 3 Urls from the Blueprint API file.

[code]

The first request runs well, but at the second and third request Drakov returns the wrong responses.

**1st request**: All right
[code]

**2nd and 3rd request**: Returns the

[2015-05-28 11:05] yakovkhalinsky commented on #58
hi @Art4 drakov doesn't really understand query parameter values yet, although it is on our roadmap.

Unfortunately it is only matching the keys in your query string.

[2015-06-01 22:43] yakovkhalinsky commented on #58
Am closing this as this is expected behaviour.

@Art4 let me know if you have any other questions about this issue :+1:

[2015-06-01 22:43] #58 closed

[2015-06-02 05:37] Art4 commented on #58
Why it is necessary for drakov to understand the query parameters? I thought the url and the response could be stored in an arraylike way.

Url_with_querystring => API blueprint response

[2015-06-02 08:43] yakovkhalinsky commented on #58
have a look at our Blueprint API file that we use to test the functionality:
https://github.com/Aconex/drakov/blob/master/test/example/md/query-parameters.md

Drakov only sees `?action&cat`

[2015-06-08 15:23] mistm commented on #43
I submitted pull request for this here: https://github.com/Aconex/drakov/pull/59

[2015-06-09 05:19] ggoodale opened #60 "Attribute Support"
Per the latest spec: https://github.com/apiaryio/api-blueprint/blob/master/examples/10.%20Data%20Structures.md), Attributes provide a means of reusing common structures across multiple API endpoint descriptions. Would be great to get support for these into an upcoming release!

[2015-06-25 21:37] matthewwithanm opened #62 "Middleware not exposed?"
[index.js][1] exports the middleware, but [package.json][2] doesn't use that for its [`main` field][3]. Also, the express middleware example has you using the drakov module itself, though that doesn't have an `init` method.

[1]: https://github.com/Aconex/drakov/blob/c23a70d9e3e0d7a249071be8479158cc54af1f37/index.js
[2]: https://github.com/Aconex/drakov/blob/c23a70d9e3e0d7a249071be8479158cc54af1f3

[2015-06-25 22:56] yakovkhalinsky commented on #62
@matthewwithanm that example may be out of date.

I'll try and make some time to address this :+1:

[2015-06-25 23:06] yakovkhalinsky opened #63 "Find a better way to get feedback and ideas from the community"
I feel like we still have a lot we can do, but I'm not sure just posting issues is good enough.

Would love to hear from people either using or wanting to use Drakov about possible way to communicate with a community of users and potential users.

[2015-06-26 06:41] Art4 commented on #63
* IRC
* Mailinglist

[2015-06-26 06:44] yakovkhalinsky commented on #63
IRC might be good.

In regards to a mailing list, maybe a discussion app that does a daily/weekly digest via email (e.g. Google Group)?

Good stuff, keep it coming :+1:

[2015-06-30 11:46] amanjyo opened #64 "I am new to mock server setup. Cannot get Drakov to work..."
My .md file is very basic.
---------------------------------------------------------------------------------------
[code]

I see Cannot GET /  when I try... .What could be the problem? I am starting from command line. The output in the window is

   DRAKOV STARTED
[LOG] Setup Route: GET / Get Login page
   Drakov 0.1.7      Listening on port 3000
[LOG] GET /

[2015-06-30 21:11] yakovkhalinsky commented on #64
hi @amanjyo thanks for your question, I'll check it out and get back to you soon :+1:

[2015-06-30 21:13] yakovkhalinsky commented on #64
@amanjyo could you please copy/paste the startup command you are using into a comment here?

[2015-06-30 21:21] yakovkhalinsky commented on #64
@amanjyo I found that Drakov responded ok, just the browser didn't know how to handle the content of the response.

You should try and always have a content type in your response like so:

`+ Response 200 (application/json;charset=UTF-8)`

[2015-07-01 04:54] amanjyo commented on #64
Thank you for the response.   I added the content type still I got the "404 Not Found"  response from server.  I have other .md files which return json structures etc, they all have the content types defined. Those also did not work for me.  The one I posted here was the simplest I was trying.  The command I am starting drakov with is

~/node_modules/drakov/drakov -f   login.md

[2015-07-02 06:55] shavo007 opened #65 "cannot run drakov"
Hi,

I am really struggling to get this to work!

I resolved all the issues I had trying to install this module on Windows 8.1.

Then I tried to run the module with an blueprint file I used from this project.

Cmd is:
[code]

I was expecting to access it at localhost:3000/api/things
I get this error now:

[code]

i assume this is issues with line endings?
Is it possible to run this at all in windo

[2015-07-02 07:15] shavo007 commented on #65
I resolved it!!

In my git config I had core.autocrlf set to true.
Once I changed this to input, it worked!!!!

[2015-07-02 07:15] #65 closed

[2015-07-02 07:19] yakovkhalinsky commented on #65
ah nice one @shavo007 :+1: good that you posted an issue, hopefully other Windows users may be able to find this

[2015-07-02 07:39] shavo007 commented on #65
This was a nightmare to get working on windows!!! ;-)

[2015-07-02 07:42] shavo007 commented on #65
@yakovkhalinsky  Is it easy to return different responses based on the uri parameter?
I dont want the consumer of this to have to pass in a request header.  (Prefer:status=XXX)

Cheers,
Shane.

[2015-07-02 11:35] yakovkhalinsky commented on #65
hi @shavo007 in regards to your parameter question, drakov doesn't understand parameter values, just the key, although this is on our roadmap.

[2015-07-02 11:38] yakovkhalinsky commented on #64
@amanjyo what operating system and node.js version are you using?

Could you also email me yakov at therocketsurgeon.com with the file you are trying to use and I'll try it with the same node.js version.

[2015-07-02 11:51] yakovkhalinsky commented on #62
@matthewwithanm looked at this and you are 100% correct, package.json needs to be updated :+1:

I'll put this change into the 0.1.8 release coming up tomorrow :dancers:

[2015-07-02 11:56] yakovkhalinsky commented on #43
Dealt with in PR #59

[2015-07-02 11:56] #43 closed

[2015-07-02 11:58] matthewwithanm commented on #62
Cool, thanks!

[2015-07-02 12:18] amanjyo commented on #64
I sent the mail.

On Thu, Jul 2, 2015 at 5:08 PM, Yakov Khalinsky <notifications@github.com>
wrote:

[2015-07-02 12:29] #57 closed

[2015-07-02 12:30] yakovkhalinsky commented on #62
Fixed in commit https://github.com/Aconex/drakov/commit/e3b00ef803de0f0681a08a0f1c7864666082da68

Will be included in version 0.1.8

[2015-07-02 12:30] #62 closed

[2015-07-02 13:19] dialelo commented on #43
Great, thanks for your time!

[2015-07-02 21:00] yakovkhalinsky commented on #43
A bit thank you to @MartinNuc for his PR to add this feature :+1:

[2015-07-03 00:25] shavo007 opened #66 "Grunt task for starting drakov"
Hi,

I have registered a basic task for starting drakov. I include this task when I call grunt serve.

Does the below config look ok to you?

[code]

[2015-07-03 00:26] shavo007 commented on #66
I cant add a label; but this is a question!! ;-)

[2015-07-03 00:58] yakovkhalinsky commented on #66
The trick with using these kinds of grunt tasks is to make the work in async.

At the top of the function you need:
`var done = this.async();`

And then call done when the async task is finished:
`done()`;

Have a look at http://gruntjs.com/creating-tasks for a reference.

[2015-07-03 01:00] yakovkhalinsky commented on #66
I'm not entirely sure how grunt will react with having a drakov server in a watch.

You may need to use a grunt plugin that runs things in child processes.

Let me know how you go.

We've made a grunt plugin to run protractor tests with drakov, you can use that as a reference as well:
https://github.com/Aconex/grunt-blueprint-test-runner/blob/master/tasks/blueprint_test_runner.js

[2015-07-03 09:41] lucamartellucci opened #67 "Parametric MD file"
Hi, i'm successfully using Drakov to mock my backend. Thank you for such useful tool!
I've just a question for you.. There is a way to program drakov to accept any date in a given field?
I've similar request body:

{"moneytransfer" : {"amount":200, "sender": "Luca", "receiver": "Mario", "transferDate": "03/07/2015"}}

Actually every day I use drakov I have to modify the .md file to update the tran

[2015-07-03 09:46] yakovkhalinsky commented on #67
Hey @lucamartellucci glad you are finding it useful :+1:

Instead of having an exact match on the request body you can also use a schema to match, this will override the need to have an exact match on the request body.

There is an example here:
https://github.com/Aconex/drakov/blob/master/test/example/md/json-schema.md

You can also find more examples here:
http://json-schema.org/examples.html

[2015-07-06 03:57] yakovkhalinsky commented on #64
Just resurfacing this issue, as the user is still unable to get a working setup

[2015-07-06 07:09] shavo007 commented on #66
Cheers for the reply mate. I made the task async.

[code]

[2015-07-06 07:09] #66 closed

[2015-07-07 10:32] kosmotaur opened #68 "respect directory structure"
Hi there!

It's noths.com here.
Our APIs need versioning, so the URLs will be prepended by the likes of "v1", "v2". The mock APIs will be exposed under all supported versions. We don't want to have a flat file structure with the same resource in multiple versions, like:

[code]
as this would get out of hand with hundreds of files pretty quickly. Also, multiple services we're running could have a r

[2015-07-08 03:17] shavo007 opened #69 "Angular http service not responding"
Hi,

I have drakov running using grunt on localhost:3000.

[code]

My endpoint I can hit via browser or postman.

Example:

http://localhost:3000/subscribe?id=12345&type=xyz&email=xyz&hv=xyz

But when I try and call the api in angular, in the server console it logs continuously:
[code]

Code snippet angular:

[code]

My grunt config:

[code]

NB: My angular app is running on a different port using

[2015-07-08 07:22] shavo007 commented on #69
I have got a bit further but not much!
In the response I added in two headers:

[code]

Angular http service now calls get instead of options but it just keeps looping and inevitably crashes!!!

[code]

[2015-07-08 08:13] shavo007 commented on #69
i think instead of adding in the custom headers to the blueprint file, i need to work out for local development how to host drakov and grunt connect on the same domain (localhost). I think i need a proxy!!!

[2015-07-08 11:37] yakovkhalinsky commented on #69
CORS is enabled by default, so I'm not sure if I can explain why it doesn't respond.

Are you able to post the endpoint snippet from the markdown file?

[2015-07-08 11:39] yakovkhalinsky commented on #68
Hey @kosmotaur that actually sounds like a useful feature :+1:

How about including it as an extra option/argument, in addition to the `-f` option.

[2015-07-09 02:20] shavo007 commented on #69
Cheers for the reply mate.

This is my code snippet from my .md file.

[code]

In the server log I see:

[LOG] Setup Route: GET /api/subscribe Subscribe by email

I have added in the config to use a connect-proxy.

Once I did this, it resolved the issue!!!

This is a snippet of the proxy config in my gruntFile.js

[code]

Do you believe I do not need the proxy?

[2015-07-15 07:29] yakovkhalinsky commented on #69
sorry for the late reply, we use Drakov with protractor tests that run static Angular.js interfaces with no need of a proxy.

Maybe the proxy is modifying the headers somehow.

[2015-07-15 07:33] yakovkhalinsky opened #70 "Support loading configuration from a file"
It struck me that it may be useful to allow overrides of all the command line arguments to be loaded from a configuration file, i.e. `config.js` that exports a bunch of properties as documented in the `arguments.js` module https://github.com/Aconex/drakov/blob/master/lib/arguments.js

This thought occurred to me when I was considering the issues around bootstrapping a Drakov server inside a docker

[2015-07-15 08:02] yakovkhalinsky commented on #63
Have setup a google group, we'll see how it goes
https://groups.google.com/forum/?hl=en#!forum/drakov-api-server

[2015-07-15 21:12] ndonald2 commented on #60
+1

[2015-07-16 04:14] shavo007 commented on #69
From what I read, you need a proxy when you are running a back-end server to prevent CORS.

Closing as the above plugin worked for me.

[2015-07-16 04:14] #69 closed

[2015-07-20 01:29] #64 closed

[2015-07-20 01:43] marcelogo commented on #67
@lucamartellucci
Have you managed to use a json schema to address your scenario?

[2015-07-20 02:12] yakovkhalinsky commented on #68
Just been discussing this and we are thinking carefully about how this effects our policy of `respect the spec files`.

I'm starting to think this would bring some confusing behaviour to Dravko and would endanger the simplicity of just obeying what is in the specs.

There is currently nothing stopping you from breaking up your spec files into separate directories as the `--file` or `-f` argument t

[2015-07-20 09:12] SiCurious commented on #68
The key reason we cannot use the `-f` option is that we are not running the Drakov server locally, it is hosted on a company-wide accessible server.
We have a CI pipeline around the blueprints themselves, so that whenever we agree on a change to the APIs, they get deployed automatically. All of them are accessible to the whole company. We cannot at a given point in time just use a glob to now run

[2015-07-20 10:31] #70 closed

[2015-07-20 10:33] yakovkhalinsky commented on #68
Are the actual endpoints the same in each version?

Would it possible to run multiple servers?

[2015-07-20 11:16] kosmotaur commented on #68
We could work on a `drakov-cluster` module, which could spin up multiple instances of Drakov, do the pre-routing and proxy the requests into the respective instance.
Quite a bit of overhead though, so we'll need to consider this vs. forking Drakov if it's a no-go for you.

[2015-07-20 21:12] yakovkhalinsky commented on #68
The `drakov-cluster` idea is intriguing.

A recent PR that I did added support for using a config file, this will make it easier to load multiple configurations if needed.

This idea appeals to me as it would allow us to keep the basic functionality of `drakov` the same.

If that is the solution to you guys, I'm happy to work on that for the next release.

[2015-07-20 21:14] yakovkhalinsky opened #72 "drakov-cluster"
Create a cluster of `drakov` processes that server different a different file set API blueprints.

[2015-07-20 21:15] yakovkhalinsky commented on #68
@SiCurious @kosmotaur see #72

I'm happy to discuss this in more detail in the new issue that I have created.

[2015-07-20 21:15] #68 closed

[2015-07-20 22:35] yakovkhalinsky commented on #72
Will spin up another GIT repo to do a proof of concept and go from there :+1:

[2015-07-23 14:14] xiphiaz opened #75 "Parametric headers or looser value matching."
Is it possible to have the same loose matching on route segments with parameters for matching against headers?

I have a use case where one of the required request headers is an `Authorization: Bearer <token>` header, but the`<token>` can change for many different reasons.

Is it possible to loose matching on the headers?

[2015-07-24 19:22] stroml commented on #60
Status update on this issue? I'd really like to use MSON to keep my api.md DRY

[2015-07-24 22:47] yakovkhalinsky commented on #60
I appreciate the enthusiasm of for this particular feature and I will say that it is being worked on.

However, I am currently maintaining drakov in my spare time, as well with the help of some benevolent contributors.

Saying that, I am currently working on this, as I can see this is a hugely useful feature.

My estimate (which is by no means a commitment of time) would be at least a month from n

[2015-07-24 22:49] yakovkhalinsky commented on #75
Thanks for the question @xiphiaz we'll discuss this over the next week and we'll have a look at how easy it will be to implement, and respond in this issue as to our thoughts :+1:

[2015-07-24 22:50] yakovkhalinsky commented on #40
Just an update on this issue, we have some code in the works, but need more time to setup a nicer way of testing child processes, so hopefully this is something we can bring in, in the near future :+1:

[2015-07-27 15:55] tooooolong opened #78 "return error while required parameters not present"
<img width="674" alt="momoapi" src="https://cloud.githubusercontent.com/assets/1023347/8910640/7a0c7a88-34ba-11e5-951b-6519df86b730.png">

as you see, user_id is required

but when i access the api without this parameter, it still return the result

<img width="501" alt="localhost_3000_api_v2_users_get_user_app_page" src="https://cloud.githubusercontent.com/assets/1023347/8910715/e3210b42-34ba-11e

[2015-07-27 18:31] yakovkhalinsky commented on #78
hi @tooooolong currently drakov doesn't know how to interpret `required` part of the `parameters` block.

Let me investigate how easy it will be to implement, and I will reply in the next day or so with either an estimated time, or a pull request to add this functionality :+1:

[2015-07-27 19:01] yakovkhalinsky commented on #78
@tooooolong I think this is a worthy start to being able to properly handle the parameters, so I will create a pull request in the next week and publish a new version that handles the `required` or `optional` property of the parameter block.

Keep an eye out for this (ETA later this week) :+1:

[2015-07-27 19:26] yakovkhalinsky opened #80 "Replace optimist with yargs"
Optimist is deprecated and is no longer being maintained.

We should implement `yargs` in place of `optimist`:
https://github.com/bcoe/yargs

[2015-07-27 21:10] yakovkhalinsky commented on #72
Now being developed in this package repo:
https://github.com/yakovkhalinsky/drakov-cluster

Also available in npm:
https://www.npmjs.com/package/drakov-cluster

ping @kosmotaur and @sicurious

[2015-07-28 03:02] tooooolong commented on #78
:clap:

[2015-07-28 03:18] tooooolong commented on #78
there is a question. If required params is not present, drakov should return the error defined by user in the apib file, not the error build-in drakov.

But, in apib syntax, I can not define a condition that user_id is not present and a response of this  condition

[2015-07-29 14:20] hendrikmaus commented on #40
+1

[2015-07-29 14:21] hendrikmaus commented on #48
+1 is there any way to help?

[2015-07-29 14:29] hendrikmaus commented on #78
+1

[2015-07-29 14:30] hendrikmaus commented on #60
+1

[2015-07-29 21:03] yakovkhalinsky commented on #40
Thanks for the feedback guys, we are definitely looking at getting this feature into drakov in the short term.

[2015-07-29 21:05] yakovkhalinsky commented on #48
The good news is, we are currently doing some work on how parameters are treated, so I would think we could do this sooner rather than later. Will keep this issue updated when we get closer to getting this feature into drakov. :+1:

@hendrikmaus PR's are very welcome! Feel free to dive into the code and ask questions :+1:

[2015-07-29 21:13] yakovkhalinsky commented on #72
Closing this issue.

Any discussion about this type of functionality can be continued here:
https://github.com/yakovkhalinsky/drakov-cluster/issues

[2015-07-29 21:13] #72 closed

[2015-08-03 09:54] yakovkhalinsky commented on #78
@tooooolong apologies, realised I hadn't answered your question about errors.

To be honest I'm not sure how to handle this situation.

Good news though, I've got some commits coming that should bring parameter required/optional support.

I am however going to increment the minor version as this could  be a breaking change for a lot of users who don't use this feature.

0.2.0 will required paramet

[2015-08-03 10:24] hendrikmaus commented on #48
Is this supported by the official API blueprint specs?

[2015-08-03 10:30] yakovkhalinsky commented on #48
@hendrikmaus here's the section in the spec https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md#def-uriparameters-section

We've been pretty loose with matching parameters, unfortunately if we go with the spec we have to ensure any parameters without the `required` or `optional` should be defaulted to being treated as `required` by default.

That's the breaking

[2015-08-03 10:32] yakovkhalinsky commented on #48
@hendrikmaus previous response was wrong ( my head was in another issue :) )

I don't believe this is in the spec as far as I know.

[2015-08-04 13:42] groyoh commented on #48
@hendrikmaus not in the specs but handled by Apiary AFAIK.

[2015-08-04 13:50] hendrikmaus commented on #48
Nice. This is also really neat if you write blueprints to run through dredd for testing besides your main documentation.

[2015-08-13 17:42] dac09 opened #81 "POST request attempts to match body"
Hi,

It seems the request block on POST requests are compared to be exactly the same.

For example, from the simple API example, POSTing
[code]
works, however
[code]
results in a 404.

Any ideas how/where to fix this?

Thanks,
Danny

[2015-08-13 17:47] dac09 commented on #81
We've found how to fix it - PR coming your way from my colleague.

[2015-08-13 21:39] yakovkhalinsky commented on #81
So now I think I understand what is happening.

If you don't want exact body matching on the request body you need to use a JSON schema.

This is expected behaviour.

We have an example in one of our test blueprint files here: https://github.com/Aconex/drakov/blob/master/test/example/md/json-schema.md

[2015-08-13 22:08] dac09 commented on #81
I see... is this the normal Apiary spec? Running the same APIB on apiary doesn't seem to cause problems.

[2015-08-13 22:57] yakovkhalinsky commented on #81
This isn't something that is covered by the spec. The spec tells us how to document our API requests and responses.

In drakov we've chosen to implement a JSON schema then body matching as our implementation in how to respond.

Our philosophy, which keeps the code simple, is to respect the request body in the spec, unless a JSON schema exists, then we do "fuzzy" matching as long as the request con

[2015-08-13 23:58] dac09 commented on #81
I agree, perhaps something that should go into the official Apiary spec. I've become used to having completely static / unintelligent responses from the mock server.

Thank you for the explanation, and keep up the great work!

[2015-08-13 23:58] #81 closed

[2015-08-14 05:30] yakovkhalinsky commented on #81
No worries.

In the future I'm hoping to have better documentation so these sorts of things are clearer for users :+1:

[2015-08-21 15:47] coryt commented on #60
We are just starting to use blueprint to document our api and defined everything in the mson format. Now that we have drakov up and running we realized no data is being returned. So I'd love to help, but not sure what's involved.

[2015-08-21 17:52] coryt commented on #60
so digging further, drakov seems to be handling it properly. The issue is in protagonist not generating the example element properly. I swapped out protagonist for drafter and drakov served up the Attribute parsed json correctly.

[2015-08-21 19:32] PelegR commented on #60
@coryt Yup only after looking in the Dredd [source](https://github.com/apiaryio/dredd/blob/master/src/dredd.coffee#L153) I find that out as well. Using Drafter instead of Protagonist seems to be the solution.

[2015-08-21 20:44] PelegR commented on #60
Drafter.js is deprecated, but in the meantime this seems to help support MSON: https://github.com/Aconex/drakov/pull/84

[2015-08-22 05:58] yakovkhalinsky commented on #60
Hmm just getting up to speed thanks for all the research guys :+1:

Is problem that MSON is no longer being supported in the new Drafter? https://github.com/apiaryio/drafter

[2015-08-22 06:00] yakovkhalinsky commented on #60
Just reading the PR, that is using Drafter as opposed to Drafter.js, the former is no deprecated as far as I can tell, am I understanding that correctly?

[2015-08-22 06:01] yakovkhalinsky commented on #60
OK so the big thing here is that MSON is not being supported by the Apiary parser any more

[2015-08-22 06:14] yakovkhalinsky commented on #60
I would like to understand a bit more why Protagonist is so different, to that effect I've posted a question on the Protagonist repo:
https://github.com/apiaryio/protagonist/issues/83

Please feel free to get involved in the issue in Protagonist, perhaps we can get it done right in protagonist, rather than using a deprecated API Blueprint parser.

If this doesn't go favourably, I would then consid

[2015-08-22 19:36] pksunkara commented on #60
@yakovkhalinsky Drafter.js tool uses Protagonist which uses C++ Drafter.

The purpose of C++ Drafter is to parse the API Blueprint. And Protagonist is the Node.js module wrapping C++ Drafter. Drafter.js is a Node.js module which expands the MSON AST in the API Blueprint AST and renders the sample body and schema.

So, if you want to see the sample body and schema, you have to use drafter.js and no

[2015-08-22 22:33] yakovkhalinsky commented on #60
Thanks @pksunkara for that information :+1:

[2015-08-24 11:12] zdne commented on #60
@pksunkara is indeed correct with his explanation. Let me add a little bit more of details on the background

### Moving from AST to Refract

Due to the growing complexity of the AST (especially MSON AST) and the design flaw that meant breaking changes whenever we will add a top-level node we are moving from AST to Refract tree – https://github.com/refractproject/refract-spec

The API Blueprint AS

[2015-08-24 11:13] zdne commented on #60
So TL;DR:

You want to use either Protagonist + Minim or Fury.js (which comes with Minim)

[2015-08-24 11:13] zdne commented on #60
Note we are looking at releasing the protagonist / Fury.js during this week.

[2015-08-24 11:31] yakovkhalinsky commented on #60
Thanks again to @pksunkara @zdne for the update :+1:

I'm leaning towards a refactor of the parsing modules in Drakov :8ball:

[2015-08-25 22:34] yakovkhalinsky commented on #78
Quick update, this work is still ongoing, hoping to get to this soon right after we deal with #60

[2015-08-27 09:32] yakovkhalinsky commented on #60
Will reference this in a new issue for implementing something to replace Drafter.js

[2015-08-27 09:32] #60 closed

[2015-08-27 09:33] yakovkhalinsky opened #85 "Implement replacement for Drafter.js"
In light of Drafter.js becoming deprecated, we should look at implementing a replacement as noted in #60

[2015-09-09 14:57] KhalidDermoumi opened #88 "Problem getting different responses with "Prefer: status=xxx" header"
I have a problem getting different responses using the "Prefer"-header.

In the FAQ, it says: "You can request a specific response by adding a Prefer header to the request in the form Prefer:status=XXX where XXX is the status code of the desired response."
I have tried that and can't get it to work.
I have a blueprint with a PUT-action, that has 2 responses defined:

[code]

Now, when I call using

[2015-09-09 22:51] yakovkhalinsky commented on #88
hey @KhalidDermoumi thanks for your question, I'll have a look at this over the next day and get back to you :+1:

[2015-09-09 22:56] yakovkhalinsky opened #89 "Drakov doesn't install with Node 4.0.0"
When installing Drakov, Drafter.js has a build error, caused by protagonist not building on Node 4.0.0.

[2015-09-09 23:40] yakovkhalinsky commented on #88
I can see while debugging the the content type isn't being matched for your 409 prefer header request.

I'll investigate this and hopefully get a fix in for tomorrow :+1:

Thanks again for reporting this

[2015-09-10 06:32] KhalidDermoumi commented on #88
Thanks Yakov!

[2015-09-12 17:06] ChALkeR commented on #89
Adding to the list: https://github.com/nodejs/node/issues/2798.

[2015-09-12 17:08] ChALkeR commented on #89
Related: https://github.com/apiaryio/protagonist/issues/81

[2015-09-14 09:14] yakovkhalinsky commented on #88
OK so, I've spent some time looking at this, what Drakov expects is a collection of request/response pairs.

Since your `409` doesn't have a request, there's no content-type, headers or schema/body to make that pair a match.

You could either copy the request into the `409` section or use a schema like so:

[code]

[2015-09-14 10:56] yakovkhalinsky commented on #89
Thanks @ChALkeR for the update :+1:

[2015-09-14 11:10] yakovkhalinsky commented on #85
Ruling out Fury.js for now, until it is 0.12+ compatible:
https://github.com/apiaryio/fury.js

[2015-09-16 16:33] KhalidDermoumi commented on #88
Thanks for your investigation, Yakov!

[2015-09-16 21:10] #88 closed

[2015-09-19 09:11] khaliddermoumi opened #91 "How do you bind drakov to a specific interface?"
Hello,

how do you bind drakov to a specific interface? There is a "--public" flag, but it is documented like there is no parameter to give the IP address of a specific interface.

[2015-09-19 09:14] yakovkhalinsky commented on #91
Hi @khaliddermoumi at the moment it either binds to `locahost` by default or to all interfaces with `--public`

[2015-09-19 10:57] khaliddermoumi commented on #91
Ok, thx!

[2015-09-19 10:57] #91 closed

[2015-10-09 13:23] #80 closed

[2015-10-20 23:42] marcelogo opened #98 "Drakov does not respond to multipart/form-data content-type on version 0.1.15"
Drakov should always return true to body matching when  content type is multipart/form-data.

[2015-10-23 01:20] shavo007 commented on #40
+1 on this.

I have a watch in grunt and stop/start the server but doesnt seem to reload.

[code]

Grunt task

[code]

I see in the console

Running "mock-api" task
-- STOPPED --
   DRAKOV STARTED

Done, without errors.

But it doesnt seem to reload!!! ;-)

[2015-10-23 18:02] artlogic commented on #89
Drafter.js appears to be deprecated, and doesn't look like it's going to be updated with the latest protagonist: https://github.com/apiaryio/drafter.js#deprecation-notice

Is there a possibility to update the drafter dependency to protagonist, as suggested?

[2015-10-24 04:43] yakovkhalinsky commented on #89
@artlogic the reasoning behind using Drafter.js is to give users of Drakov access to using attributes/MSON.

Unfortunately, this isn't supported in Protagonist yet.

We need to spend some time on implementing other libraries for parsing the API files in the near future.

For some background on the situation, have a read through https://github.com/Aconex/drakov/issues/60

Let me know if you have an

[2015-10-24 04:46] artlogic commented on #89
Thanks for the info - would it make sense to fork Drafter.js and modify it to work with the latest protagonist in the interim?

[2015-10-24 04:47] yakovkhalinsky commented on #89
That's a good question, not one I had considered.

If we were able to get more contributors for it, I might thing about it. As it stands we're pretty stretched for time to work on just Drakov :)

I'll have a dig through the Drafter.js source and have a think about it :+1:

[2015-10-24 21:34] groyoh commented on #48
@yakovkhalinsky this issue should be fixed by #87. I think you can close it now.

[2015-10-24 22:09] artlogic commented on #89
I spent a bit of time looking at this. One fairly easy change is forcing protagonist to output AST as opposed to Refract. The place where I'm running up against a problem is with the MSON data structures (of course). I'm attempting to parse https://github.com/apiaryio/drafter.js/blob/master/test/fixtures/dataStructures.apib and running into the following:

protagonist 0.20.1 output for `Coupon`:
[

[2015-10-29 19:22] artlogic opened #101 "CORS - configurable Access-Control-Allow-Headers"
Since drakov enforces specified request headers (like Authorization), it would be helpful if either CORS headers could be configured (via a `--header` argument) or auto-configured. Right now I'm manually patching `lib/middleware/response.js` to allow the Authorization header.

I'd be willing to provide a pull request to add in a `--header` argument if it would be accepted.

[2015-10-29 20:16] yakovkhalinsky commented on #101
Hey @artlogic was something we had look at putting on our roadmap.

At some point I am thinking I would like to possibly remove or consolidate switches/configuration options that cause header changes in the response for the next minor version update (0.2.0), but for a patch version (0.1.x) I think this would be super useful :+1:

[2015-11-06 15:30] borodaalex opened #102 "Cannot POST issue"
I have the next api blueprint description that works correctly at app.apiary.io
but fails with drakov saying me:

Cannot POST /login

Tried to call this method via curl like this:
curl -H "Content-Type: application/json" -X POST -d '{"email":"xyz","password":"xyz"}' http://localhost:3000/api/login

or even via postman chrome plugin
https://drive.google.com/file/d/0ByOLpL4QgNHySDZnaWpkS2IweXM/view?

[2015-11-06 20:56] yakovkhalinsky commented on #102
thank for the report I'll have a look over the next day or so :+1:

[2015-11-09 03:25] marcelogo commented on #102
Drakov isn't responding because the Json in the payload is invalid. Both `email` and `password` should be surrounded by double quotes.

Eg.

[code]

[2015-11-09 03:26] marcelogo commented on #102
@borodaalex please make that chance and let us know how it goes.

[2015-11-09 03:26] #98 closed

[2015-11-09 07:22] borodaalex commented on #102
Hi all,
I tried both variants: surrounded by double quotes(see my first post  and sample with curl) and without
double quotes(postman plugin)

Results are the same: Cannot POST /login

[2015-11-09 15:53] borodaalex opened #104 "Handling multiple actions on a single resource"
Hi all,

I dont know whether this is issue or it is not supported by drakov right now.

Suppose, we want to describe a variety of error or edge cases a resource might respond with.
# Message [/messages/{id}]
This resource represents one particular message identified by its *id*.

## Retrieve Message [GET]
+ Response 200 (application/json)

        {"message":"Hello World!"}

+ ﻿Response﻿ 200 (text

[2015-11-09 21:49] erlanggatjhie commented on #104
Hi borodaalex!

Yes we currently support multiple responses on a single resource but we have a different approach than apiary. You need to be more explicit in the blueprint file if you want to use the prefer or accept header to response with different scenario.

For example:

Blueprint file

[code]

[2015-11-09 22:09] erlanggatjhie commented on #102
Hi Borodaalex!

The reason why we are throwing an error without the double quotes is that we are parsing it to a JSON object which is might be a different approach than what apiary does.

I do agree that we need to have more logs about it and we are still working on it

[2015-11-09 22:09] #102 closed

[2015-11-10 06:45] borodaalex commented on #104
erlanggatjhie, thanks for answer!

[2015-11-13 04:24] #104 closed

[2015-11-20 18:12] obihann commented on #89
Any change in this?

[2015-11-20 22:37] yakovkhalinsky commented on #89
@obihann not yet, we still need to look at the upstream dependencies to fix this.

We'll post an update in here if there is any change. I'm hoping to look at this in the next month, as I too would like to use node.js 4.2.2 :+1:

[2015-11-20 22:45] artlogic commented on #89
Based on my investigation about a month ago, I think MSON support may need to be dropped and then re-introduced as protagonist slowly gains support. I'd be willing to devote some time to helping with the transition to protagonist as I'd very much like to move to node 4.

[2015-11-20 22:50] yakovkhalinsky commented on #89
@artlogic appreciate the offer of assistance.

Might have to have a think about this and discuss with the others. We could propose upping the version to a new minor release (0.2.x) and break the support for MSON, allowing users who don't need it to run drakov on newer version of node.js, but keep it going in the current minor release (0.1.x).

I'll get in touch with the other maintainers and we tr

[2015-11-20 22:50] yakovkhalinsky commented on #89
I'm sympathetic as I am now working in a team using Node.js 4.2 and would really like to make use of drakov.

[2015-11-24 18:08] obihann opened #105 "LINK and UNLINK requests fail"
Using the following example:

[code]

Drakov lists this as a route when it starts however any requests to that route result in an error on the client end stating the socket was reset by a remote peer. Drakov itself doesn't display any output whatsoever.

[2015-12-02 15:39] artlogic commented on #101
I've submitted a pull request. Let me know if I can do anything else to get this out as a patch to v0.1.

[2015-12-02 16:53] artlogic commented on #89
@yakovkhalinsky Looks like I'll have some time this month if you'd be willing to entertain a breaking 0.2.x version based on protagonist.

[2015-12-02 16:56] yakovkhalinsky commented on #89
@artlogic have discussed this with @marcelogo and I think we could accept dropping MSON support in a `0.2x` release, which means people who have their `package.json` setup to use `0.1.x` would still be alright.

I think it is more important for all concerned to progress with the current Node.js versions.

[2015-12-02 17:25] artlogic commented on #101
Closed via 7fea735a8ccd88b4ad688c53d2c95cc3762a4fba

[2015-12-02 17:25] #101 closed

[2015-12-19 12:09] coldmake opened #111 "Failed to recognize URI variable"
I used the md file below.
When I tried `http://localhost:3000/users`, it gave the json response, but when I tried `http://localhost:3000/users/1`, I got `Cannot GET /users/1`.
It seems that drakov failed to recognize the {id} variable in the URI.

===============================================

FORMAT: 1A

# TEST_API

# Users [/users]

## Obtain User Info [GET /users/{id}]

+ Parameters
    + id

[2015-12-23 20:08] PavelPolyakov commented on #89
Hi guys,

Just got to know `drakov` today and met the issue.
Any  updates when we expect it to be resolved?

Regards,

[2015-12-23 22:42] yakovkhalinsky commented on #89
Hi @PavelPolyakov hopefully in the coming weeks we can get this resolved.

Currently the max version of Node.js is 0.12.x

[2016-01-06 12:01] Terenc3 opened #112 "Load config file automaticilly"
It would be useful if drakov could automatically load a config file e.g. .drakovrc from the current directory

[2016-01-07 10:39] yakovkhalinsky commented on #111
Apologies @coldmake for the late response, I'll check this out over the next few days :+1:

[2016-01-07 10:45] yakovkhalinsky commented on #112
@Terenc3 we have the `--config` options to allow you to specify a configuration file.

E.g. `drakov --config config.js` will look for `config.js` and attempt to load the configuration from there.

I could see that perhaps we could make executing `drakov` on the command line with no arguments look for a `config.js`. Is that what you are suggesting?

[2016-01-07 13:08] Terenc3 commented on #112
Yes that is what i'm sugessting. To clarify what i mean please refer to JSHint as an example.

[2016-01-07 20:16] yakovkhalinsky commented on #112
Alright sounds like a great idea!

Should be trivial to implement I'll start working on this :+1:

[2016-01-07 20:19] #2 closed

[2016-01-07 20:19] #85 closed

[2016-01-07 20:19] #89 closed

[2016-01-08 09:09] raoulwissink opened #113 "Invalid JSON schema"
After upgrading to `0.20.0` I'm seeing this error:

[code]

The error seems to go away if I replace structures like this:

[code]

With this:

[code]

Not sure why though... Any ideas?

[2016-01-08 10:22] yakovkhalinsky commented on #113
Interesting, I'm admittedly not to familiar with the MSON syntax.

I'll consult some of the other guys who help us maintain Drakov.

[2016-01-08 10:25] raoulwissink commented on #113
Thanks!

Let me know if you need anything (for example some sample code to reproduce the issue).

[2016-01-11 14:00] PavelPolyakov opened #114 "drakov body response, based on Attributes"
Hi,

In my blueprint api description, I have the next part:
[code]

```customer``` is a custom type. When I run ```aglio``` server, I see the next in the generated docs:
![image](https://cloud.githubusercontent.com/assets/839290/12235376/b57acf1a-b873-11e5-926e-042d8504634a.png)

When I run drakov server and do the request, I see the next:
![image](https://cloud.githubusercontent.com/assets/839290

[2016-01-11 20:16] adamgoose opened #115 "Not Recognizing Route Overrides"
My truncated api markdown file can be viewed here: http://d.enge.me/13wdO+

Notice how the `##` header defines the route as `/`, but the 2nd `###` header overrides that route to `/routes`. This works in Apiary, however Drakov isn't recognizing it properly. When starting Drakov, I get the following (truncated) console output:

[code]

When making a `GET /routes` request, Drakov returns a 404.

[2016-01-13 15:52] PavelPolyakov opened #116 "drakov - how to include files recursive"
Hi,

I have the next files structure:
![image](https://cloud.githubusercontent.com/assets/839290/12299147/b2d3bca6-ba15-11e5-8fe6-35054281c051.png)

customers/index.apib is included inside the ```index.apib``` file.
![image](https://cloud.githubusercontent.com/assets/839290/12299175/d5675336-ba15-11e5-96dd-2997d54e4129.png)

I assume this is not a part of the standard, however, aglio uses it.

I t

[2016-01-13 18:05] PavelPolyakov opened #117 "segmentation fault drakov - how to debug?"
Hi,

I have a long blueprint which is parsed by https://apiary.io/ and fails with drakov.

Basically, I have a long ```# Data Structures``` section, and after the line N, any new data structure which I add results to the segmentation fault.

![image](https://cloud.githubusercontent.com/assets/839290/12303036/9a794b86-ba28-11e5-9ae8-e3d6b6994f4a.png)

How can I try to debug that?

Regards,

[2016-01-14 10:53] PavelPolyakov commented on #114
@yakovkhalinsky , @marcelogo

Hi guys, could you, please, tell me if it's a correct behaviour?

We are in the middle of the API description and it's quite critical to know if we can use +Attributes (which are more abstract) or we should use +Body if we want to use drakov.

[2016-01-14 10:53] PavelPolyakov commented on #116
I found that in aglio you can do the next:
[code]

to have your project to be compiled to one file

[2016-01-14 10:53] #116 closed

[2016-01-14 20:16] yakovkhalinsky commented on #116
Hi @PavelPolyakov the `-f` switch supports passing glob expressions so something like `"dir/**/*.apid"` should pickup files in all those directories.

[2016-01-14 20:18] yakovkhalinsky commented on #117
@PavelPolyakov how many lines do you have in your file? I could try to replicate this by creating a file with the same sized file

[2016-01-14 20:21] yakovkhalinsky commented on #114
@PavelPolyakov drakov currently uses the `Attribute` to just do matching on the request/response pairs.

Drakov doesn't product actual data at this stage. We do have plans to include something like faker.js to do this in the future.

[2016-01-14 20:23] yakovkhalinsky commented on #115
@adamgoose would you be able to post a sanitized version of the blueprint file or email me directly `yakov at therocketsurgeon.com` and I'll try it out.

[2016-01-14 20:25] yakovkhalinsky commented on #113
@raoulwissink just following up.

We introduced JSON schema validation on startup of drakov a little while ago, so I can only assume that you might either have an invalid JSON schema or are using an old version of the JSON schema spec.

Drakov uses JSON schema v4.

[2016-01-14 20:28] yakovkhalinsky commented on #105
@obihann just following up, we'll have a look at this in the next few days

[2016-01-14 21:08] adamgoose commented on #115
@yakovkhalinsky You can click the link in my comment above, and it'll spit out the first chunk of my file. It's only truncated, not manipulated in any other way.

[2016-01-15 09:18] PavelPolyakov commented on #117
I have 316 lines in my file.

I have cut it down especially to test why it fails, so 300 lines are data-structures and only 10+ lines are REST specifications.

[2016-01-15 09:25] yakovkhalinsky commented on #117
Hmmm that's interesting.

I think we could try streaming in the file, at the moment we load it, but even that many lines shouldn't be too much.

I'll have to try a few things out and see what we can find :+1:

[2016-01-15 21:53] yakovkhalinsky commented on #117
@PavelPolyakov having a look at this today, can you tell me your OS and Node.js version?

[2016-01-15 21:55] yakovkhalinsky commented on #115
@adamgoose I've got the file and can reproduce the problem.

Will post again once I know more :+1:

[2016-01-15 22:03] yakovkhalinsky commented on #115
@adamgoose check this public GIST https://gist.github.com/yakovkhalinsky/1378abe4f8e05dbdfb37/revisions

Subtle difference is that the `##` specifies the endpoint, and then the `###` specifies the method.

Let me know if you are still having trouble after you make this change :+1:

[2016-01-15 22:19] PavelPolyakov commented on #117
macos, node 4.2

[2016-01-16 00:48] yakovkhalinsky opened #118 "Restore Prefer header functionality"
See PR https://github.com/Aconex/drakov/pull/61

We've dropped this functionality at some point.

Need to restore the ability to force responses by HTTP code by using the `Prefer:status=XXX` in the header.

[2016-01-16 00:49] yakovkhalinsky commented on #118
ping @marcelogo :dancers:

[2016-01-16 00:53] yakovkhalinsky commented on #117
@PavelPolyakov I've tried with a blueprint file that has a lot of lines and I don't get a segfault.

Is it possible for you to email me the file at `yakov at therocketsurgeon dot com` and I will test it.

It did once get a segfault when I switched node.js version, but I don't believe this is the cause.

We do synchronously read in the whole file, which isn't optimal, this may be the cause, so I am

[2016-01-16 01:03] yakovkhalinsky opened #119 "Consider dropping support for old Node.js versions"
Give some API's such as streaming for reading files might be a good optimisation for Drakov, and the ability to use newer ES6/ES2015 code I'm proposing that we drop support for version 0.10 and 0.12 of Node.js in Drakov.

[2016-01-16 08:55] PavelPolyakov commented on #117
@yakovkhalinsky

Hi, interesting, that on my home macbook pro, where I have just tested, it has not crashed.
But it fails in my mac mini.

Later I will try to compare nodejs version or anything else, but for now I think they are alike.

Thanks

[2016-01-18 00:03] marcelogo commented on #118
@yakovkhalinsky

Drakov supports this functionality. It is just the matter of having an example that uses the `Prefer` header.

[code]

In this example, whenever Drakov receives a GET request with `Prefer` header and value `status=400` a response  `{"error": "Bad request"}` will be sent back.

[2016-01-18 00:23] marcelogo commented on #111
@coldmake

Sorry for the late response.

Drakov expects the attribute in the URL definition.

Eg
[code]

Could you please give it a go and let us know how it goes.

[2016-01-18 02:56] marcelogo commented on #105
@obihann

We do map LINK and UNLINK methods on Drakov's route handlers.
Unfortunately Drakov does not get called by Express on LINK and UNLINK methods.

It seems to be an issue with supported methods. This is the module Express uses to list supported methods https://github.com/jshttp/methods/blob/master/index.js

[2016-01-18 02:58] #37 closed

[2016-01-18 03:01] marcelogo commented on #67
@lucamartellucci

We've taken that your issue has been addressed and we are closing this question

Please get back to us if you still need help to sort it out.

[2016-01-18 03:01] #67 closed

[2016-01-18 03:02] #118 closed

[2016-01-18 03:15] marcelogo commented on #75
@xiphiaz

I wonder if you are also using your contract files for documentation purposes.

If you are only describing scenarios you could double that example and make another one without `Authorization` header.

Eg

[code]

In this case when Drakov cannot match the Authorization header it will fallback to the second example.

Would that anyhow help you?

We are closing this issue.

Please let us kn

[2016-01-18 03:15] #75 closed

[2016-01-18 03:23] xiphiaz commented on #75
@marcelogo The scenario is the use of drakov to mock an api that requires authorization. Without this feature it means I would have to set the authorization header to a fixed value defined in the contract file. It's not really a big problem, it just makes for an extra step the use drakov as a mock

[2016-01-25 00:49] shavo007 commented on #40
Any update on this guys?

[2016-01-25 04:16] yakovkhalinsky commented on #40
hey @shavo007 we have some code to do this, but were unable to reliably test it.

I'll have a look at this again and look at introducing this.

[2016-01-25 05:42] shavo007 commented on #40
No probs. Thanks for the reply.

[2016-01-26 15:09] IvBre commented on #48
@groyoh unfortunately the commit from #87 does not solve this issue. Drakov mock server still can't differentiate the requests with different value for the same query param, at least not using API blueprint file.
I guess until API Blueprint does not solve the issue of defining different param values for different response in one request (https://github.com/apiaryio/api-blueprint/issues/58) then Dr

[2016-01-27 09:50] yakovkhalinsky commented on #117
@PavelPolyakov I'll leave this open for another day or so and then close as we've been unable to reproduce this issue.

[2016-01-27 09:51] yakovkhalinsky commented on #113
Closing issue.

@raoulwissink let me know if we need to reopen this issue.

[2016-01-27 09:51] #113 closed

[2016-01-27 10:00] #117 closed

[2016-01-27 10:12] yakovkhalinsky commented on #115
Closing as a lapsed question.

@adamgoose let me know if you still need help with this issue :+1:

[2016-01-27 10:12] #115 closed

[2016-01-27 10:13] yakovkhalinsky commented on #105
Closing as this is a downstream issue in Express.

In future we'll look at implementing either vanila Node.js or another framework that supports more HTTP methods.

[2016-01-27 10:13] #105 closed

[2016-01-27 10:17] yakovkhalinsky commented on #111
Just pinging @coldmake about this issue.

Will close this in a day or so if no response or we get the all clear.

[2016-01-27 10:18] yakovkhalinsky commented on #114
Closing issue.

@PavelPolyakov let us know if you still need assistance with this issue :+1:

[2016-01-27 10:18] #114 closed

[2016-01-27 10:44] groyoh commented on #48
@IvBre doing something like this works:

[code]

[2016-01-27 11:05] #63 closed

[2016-01-27 11:06] yakovkhalinsky commented on #78
Resurrecting this issue again.

This feature is still under consideration.

[2016-01-27 12:09] yakovkhalinsky commented on #112
Under consideration for 0.2.1

[2016-02-01 07:42] #40 closed

[2016-02-01 09:10] yakovkhalinsky commented on #112
@Terenc3 this will be landing in the 0.2.1 release, coming tonight :+1:

[2016-02-01 09:25] #111 closed

[2016-02-01 09:28] IvBre commented on #48
@groyoh thank you for your suggestion, it seems that it works! Although Dredd is complaining that there is no {param1} defined in the URI template, but its not critical. Thank you!

[2016-02-01 09:52] groyoh commented on #48
@IvBre glad I was able to help. To be clear on this, you are right when saying that this is (was?) not within the specification, but since it worked on Apiary (not sure if it is still the case) I thought than adding it to drakov would be helpful as we also needed it.

[2016-02-01 18:59] Terenc3 commented on #112
Awesome, thank you :+1:

[2016-02-01 18:59] #112 closed

[2016-02-02 16:16] leewaa commented on #47
This is an old issue I know.

I would just like to point out that the current specification of `1A` still uses resource groups.

See https://apiblueprint.org/documentation/specification.html

This is really in contradiction to what the ast is listing.

[2016-02-02 16:50] leewaa commented on #47
Oh I just noticed @MichielDeMey in the api-blueprint-ast at the very top

```As of 2015-12-02 the API Blueprint AST is deprecated and should not be used for new development. The API Blueprint AST has been superseded by API Description Refract Namespace.```

[2016-02-02 17:13] MichielDeMey commented on #47
Yeah. They deprecated it recently anyway. :)

[2016-02-03 19:54] scalabl3 opened #122 "Multiple Examples with Different Parameters"
I am trying to figure out how to do list multiple examples with different parameter combinations and formatting for a single resource/request type that have consistent responses.

[code]

It's also ok if I supply parameter types above the examples, and then just put in examples more simply:

[code]

**Simulated Rendered Example** (this is how I wish it looked)
<img src="http://googo.me/3T3D1E3z2h1

[2016-02-04 14:15] raoulwissink commented on #113
Well I'm not too familiar with JSON schema, but the code I posted is valid MSON as far as I know. Drakov parses this to JSON schema using Protagonist, so I'll try asking this question over there.

[2016-02-04 15:49] scalabl3 commented on #122
Sorry, added this to wrong repo, meant to do on api-blueprint...

[2016-02-04 15:49] #122 closed

[2016-02-04 20:05] yakovkhalinsky commented on #113
The schema validation validates any JSON schema while Drakov starts up.

I'm thinking that maybe I was asking a question along the wrong lines.

Could be that the type declaration is being strict about the Attribute type. It may be requiring the named object type, i.e. `Something`

[2016-02-10 13:25] raoulwissink commented on #113
Yeah, unfortunately it's very hard to debug where the generated document fails to validate exactly. For now I've just disabled the schema validator.

Might it be a good idea to add a `strict` option so this is configurable?

[2016-03-09 12:00] yakovkhalinsky commented on #119
Use the 1.0 version bump to remove 0.10 and 0.12 Node.js version support.

[2016-03-17 12:03] mnn opened #126 "Crash: Cannot enlarge memory arrays"
When I run `drakov -f apiary.apib` it crashes after few seconds. I didn't find any way of setting anything memory related from command line.

[code]

I "solved" the issue by replacing variable definition in `drafter.nomem.js`, but I would like to know a better method (one that doesn't break after update), if one exists.

[2016-03-17 12:45] yakovkhalinsky commented on #126
Thanks for the report. I've only tested on Mac OS and Ubuntu runs the builds.

I'll spin up a Windows VM and investigate.

Have you tried splitting your `apib` file into smaller files?

[2016-03-17 12:59] mnn commented on #126
No, I haven't. Also I'm not sure other tools we use support multiple files, so it's really not a good solution (at least for us).

The input file has approx. 180kB and I was testing it on Windows 10 x64.

[2016-03-17 13:01] yakovkhalinsky commented on #126
Hmm that's a pretty small file.

Windows 10, noted. Which Node.js version are you using?

[2016-03-17 13:02] mnn commented on #126
Oh, my NodeJS is quite old (4.1.1), I'll try updating it and will report back.

[2016-03-17 13:41] mnn commented on #126
Crashes also with NodeJS v5.9.0 (exactly same error).

[2016-03-17 20:10] yakovkhalinsky commented on #126
Thanks @mnn for the update.

Are you able to email me a sanitised version of your file? I would like to test it on other OS's as well as on Win 10.

You can email me `yakov at therocketsurgeon dot com`

[2016-03-18 13:23] Art4 opened #128 "MSON parsing takes to much time"
I was wondering why Drakov couldn't parse a API Blueprint file. It seems to stop with this message:

[code]

So I split it into smaller pieces and found out that drakov needed extremly long to parse the file. The problem is multiple-nested data in objects. I've build a simple API Blueprint file to demonstrate the problem:

[code]

This file **needs up to 2 minutes on my machine** to be parsed.

[c

[2016-03-18 20:06] yakovkhalinsky commented on #128
Just did a test, I switched out drafter.js for protagonist and it took 33.5ms.

The difference I think is the MSON parsing.

[2016-03-18 20:10] yakovkhalinsky commented on #128
Performance hit is around 10x per file from my tests.

[2016-03-18 20:31] yakovkhalinsky opened #129 "Maintain parallel versions of Drakov to give choice of Drafter.js or Protagonist internnaly"
While ambitious, I wished to support non-C compiling installs for the majority of users who don't have complex files or have platforms that don't require C compilers to be installed.

The downside of using Drafter.js, which is currently prerelease, is that currently the parsing times of each file is slower.

My proposal to deal with this, to keep the `npm installs` clean is to maintain a parallel

[2016-03-18 20:32] yakovkhalinsky commented on #129
Have done some testing for #128 and found that in most cases the slow down isn't too much of an issue, except when MSON is introduced.

[2016-03-18 20:34] yakovkhalinsky commented on #126
@mnn have you used the previous versions of Drakov?

I have previously had issues compiling Protagonist (Snowcrash) on a Windows machine, mainly due to my ignorance of running C compilers on Windows :)

[2016-03-18 20:35] yakovkhalinsky commented on #126
I'm looking at the possibility of maintaining versions to give user choice as to which parser is used.
See #129

[2016-03-19 05:47] mnn commented on #126
I have not. But in `Installation instructions` there is just `npm install ...`, I didn't compile anything by hand. `gcc` seems to be working (at least minimal program compiles just fine). I'm using **mingw**.

Is there anything else I should check to see if it's working?

[2016-03-19 05:58] yakovkhalinsky commented on #126
if you can try doing `npm install drakov@0.2.2` and see if it goes through.

That version uses protagonist which requires some C compilation.

[2016-03-19 06:20] mnn commented on #126
After fixing which version of Python is node-gyp using it compiled. I converted input file to unix line endings and it works without any hacks :smile:.

PS: I'm sure it's the right version (got both installed) - it says in white `Drakov 0.2.2`.

[2016-03-19 06:27] yakovkhalinsky commented on #126
Yeah it's a pain to install Drakov + Protagonist on Windows.

I would recommend sticking with 0.2.2, until we have another mainline version that has it. Drafter.js doesn't seem to work very well on Windows for now.

[2016-03-19 06:40] yakovkhalinsky commented on #126
@mnn in your previous comment did you mean you had it working with 1.0.0? or just 0.2.2?

[2016-03-19 07:08] mnn commented on #126
@yakovkhalinsky 0.2.2 ran without any hacks, 1.0.0 run also but only after changing variable definition "TOTAL_MEMORY" in `drafter.nomem.js` to ~10 times higher value. So that apparently is not an ideal solution, it will break with any update.

[2016-03-19 10:51] Art4 commented on #129
Why not just use a 0.2-branch for protagonist?

_0.2.x_ - installs with Protagonist (a until now)
_1.x.x_ - installs with Drafter.js

This seems to be a problem with Drafter.js so you can wait until Drafter.js parses MSON faster and release 1.1. Who wants to use version with Protagonist can use 0.2, but is aware that this release will deprecated in future.

[2016-03-19 13:13] yakovkhalinsky commented on #129
@Art4 it does make sense since we already have 0.2.x

[2016-04-19 01:27] shavo007 opened #130 "Add watch option to reload API"
Creating a new issue just to keep tabs.

#120

Related to the above pull request.

Need an option in drakov.run to watch the md files and reload.

Similar to:

[code]

[2016-04-27 13:12] Art4 commented on #128
refs apiaryio/drafter#308

[2016-04-28 16:33] timgent opened #131 "Multiple examples with different parameters"
Hi,

Trying to create a spec with different example responses based on the input. This is to show the different responses that could come back from the same endpoint. However when running drakov I still get an identical response regardless of the request.

The spec is:

[code]

Advice appreciated thanks!

[2016-05-13 14:26] alexborisov commented on #39
Just a quick thought, but would it not make sense to at least return something besides a 404? Technically the resource IS found, it's just the request was incorrect...

[2016-05-16 08:50] abowen commented on #126
Considering that Drafter.js is now deprecated, can we move to Drafter?
https://github.com/apiaryio/drafter.js
->
https://github.com/apiaryio/drafter

[2016-05-27 19:23] EyMaddis opened #132 "Feature Request: change id based on url"
Hi,
maybe it would be possible for drakov to use parts of the url (like `/{id}`) to replace data within the json response.

It could take the variable name from API blueprint and search for it in the first layer of the response (setting `"id": <id from route>`).

Another option would be to allow transitions via the api.

[2016-06-03 23:06] oklaiss-gpsw commented on #39
Returning something other than a 404 would be a lot more useful, simply getting 404's back doesn't provide any useful information about what is actually wrong.

[2016-06-28 16:43] oklaiss-gpsw commented on #126
I'm finding the same issue here with a 420kb input file. The only solution I have found is splitting the input file into multiple.

[2016-06-30 23:42] btelles opened #133 "POST, PATCH, and other methods not supported?"
Hi there,

I've got a standard API that parses correctly in Apiary.io, and their mock server returns a 200, but drakov seems to always return "404: Cannot PATCH /groups/..."

Do non-GET requests need any special treatment? I'm using the example JS code in Apiary.io, and haven't been able to get a valid response all day. Here's the API:

[code]

And the CURL command:

[code]

[2016-07-05 18:45] yakovkhalinsky commented on #133
There are some limitations to the current implementation around Express to do with HTTP methods as well as other factors.

My aim work be to actually move to another framework, perhaps HAPI to allow better support for all the different HTTP methods

[2016-07-05 18:46] yakovkhalinsky commented on #131
Thanks for the question, currently Drakov doesn't understand parameters, although under the hood we are storing information about them.

My hope would be that we could somehow do this in a future update.

I'll keep this open to help remind us of that 👍

[2016-07-05 18:48] yakovkhalinsky commented on #130
I believe this is a limitation of our current watch implementation, which only currently works from the CLI

Something to consider for a future update I think

[2016-07-05 18:49] yakovkhalinsky commented on #128
#134 provides some hope for this

Will do some testing after publishing a new version the NPM 👍

[2016-07-05 18:50] yakovkhalinsky commented on #126
Will see if #134 that includes a newer version of Drafter.js improves this issue and report back

[2016-07-05 18:52] Art4 commented on #128
I can confirm, that drafter.js 2.4.3 solves this issue. :+1:

[2016-07-05 19:03] yakovkhalinsky commented on #128
Looks good, finally closing 👯

[2016-07-05 19:03] #128 closed

[2016-07-06 11:08] timgent opened #135 "Mutual TLS"
Would it be possible for drakov to use client certificates when it connects to the API?

[2016-07-07 02:31] JohnnyNiu opened #136 "Make `Content-Type` flexible on Drakov side"
Can we not match  `Content-Type`  when the spec does not define it for an endpoint?

Drakov's  current state tries to match  `Content-Type`  in the request even when my specification does not have one.

I am facing this problem due my HTTP library arbitrarily sends a `Content-Type` header during a post request event when my post does not have a body.

[2016-07-13 00:08] elliotschi commented on #136
Having the same issue. Using rxjs' observable based ajax wrapper, but it automatically sends a content type `application/x-www-form-urlencoded; charset=UTF-8`

[2016-07-13 07:38] evanslify opened #137 "Different behaviour while used as an expressjs middleware"
The code I'm using is from the documentation:

[code]

If I run the script from commandline `node api.js`, no route would work but the static hosted one.
But, if I am using  `drakov -f api.md -p 3000` from CLI, all routes would work as expected.

[2016-07-13 09:37] yakovkhalinsky commented on #135
@timgent haven't done much with client TLS certs, could you describe how the process would work?

[2016-07-13 09:38] yakovkhalinsky commented on #132
@EyMaddis we are currently storing these in a `parameter` object in the internal Drakov route map, would be possible.

Not currently on our roadmap though. I'll keep this one open for later reference.

[2016-07-13 09:39] yakovkhalinsky commented on #136
I can see how this could be frustrating, this is something we have discussed a lot about Drakov.

We usually prefer to make Drakov work in a very `strict` mode. If there was enough of a push for this we would be ok with looking at this.

I'll leave this open for future reference.

[2016-07-13 09:40] yakovkhalinsky commented on #137
Thanks for reporting @evanslify when I get a chance (possibly later this week) I will investigate

[2016-07-13 10:27] timgent commented on #135
2 options:
1) Allows the hooks to be able to add client certificate details to all requests, similar to how other auth stuff can be done (I currently have in my hooks some stuff to do an OAuth2 login, get an auth token, and use that as a header for future requests. The NodeJS Request library I think handles certs well:
https://github.com/request/request#using-optionsagentoptions

2) Have it as par

[2016-07-15 18:32] svallory opened #138 "Windows support"
This should use `path.sep`:
https://github.com/Aconex/drakov/blob/master/lib/arguments/index.js#L50

[2016-07-19 16:42] kylef commented on #129
Hi, I've just released [drafter-npm](https://github.com/apiaryio/drafter-npm) which we recommend using over Protagonist and Drafter.js directly. This package is a wrapper around Protagonist and drafter.js and it will attempt to install Protagonist, if that fails it will fall back to drafter.js.

We've also improved the performance of drafter.js recently.

[2016-07-29 22:40] tooooolong opened #140 "Should log the file name when raising parse error"
Now, it dose not log the file name, so i can not detect which file is wrong.
I have many apib files.

<img width="1274" alt="1__py_shanbaydembp____code_apibay_shanbay__zsh_" src="https://cloud.githubusercontent.com/assets/1023347/17265321/78edc9b2-5620-11e6-8952-7e0eef187367.png">

[2016-08-08 01:13] marcelogo commented on #136
I think we can make the body match a little bit more flexible.

The current implementation does not match the body when the spec does not define one. Drakov could bypass the body match in this scenario by skip the body check when the actual request has a body but the specification doesn't.

I will create a PR for this scenario.

[2016-08-08 01:18] marcelogo commented on #136
@elliotschi Can you give me more context?

There are tests for `x-www-form-urlencoded` content type.
https://github.com/Aconex/drakov/blob/master/test/api/form-urlencoded-test.js

If you can give me a scenario for your issue I can try to bring it together with my PR.

[2016-08-15 06:48] marcelogo commented on #136
@yakovkhalinsky Can you please review #141 ?

[2016-08-15 09:19] #136 closed

[2016-08-15 09:23] yakovkhalinsky commented on #140
#139 should assist with this

[2016-08-16 04:01] tonydeng commented on #133
I also encountered this problem.

### start drakov  logs

[code]

### HTTP PUT & POST Request

[code]

[code]

### Drakov request log

[code]

[2016-08-25 06:22] paddingme commented on #133
+1

[2016-09-14 08:25] wangcansunking opened #142 "How can I send a image binary as a response?"
As the title.
If any solution exists?

[2016-09-18 13:39] fyddaben opened #144 "Hello? Your npm version look like older than github version"
Its about different subdomain has same interface .
Like `http://aa.com/inter` and `http://bb.com/inter`.   has different response

I try npm version , and response is same

and pull github version . response is different

so if i guess right , Please update npm version  quickly

[2016-09-19 07:06] franjid opened #145 "Drakov refuses to load big .apib file"
Hello, I started using Drakov (great tool, by the way) almost a year ago and life was beautiful and full of colorful rainbows, but we all know that usually doesn't last much time.

When I started using Drakov it was in version 0.1.12 with Node 0.12.7. I didn't have any problem with loading blueprint files, but then some months ago I tried to update to recent versions (of both Drakov and node) and

[2016-09-22 05:00] #144 closed

[2016-09-27 06:43] wangcansunking opened #146 "When boundary changes every time when uploading, how can I edit the md file?"
Now I use FileApi to upload file so that the content type changes every time like

`'content-type': 'multipart/form-data; boundary=----WebKitFormBoundaryE3YjD8OakuZLmi9p'`

the tail of the boundary changes every time and how can I edit my config file?

My md file as:
`## Invoice details [/api/xxx/xxx]

### Upload files [POST]

+ Request (multipart/form-data)

+ Response 200 (application/json)

[2016-12-06 06:11] snakevil opened #147 "URL templates were ignored in Action section?"
In some project, URL templates were used for some reason in Action sections.

However, those APIs were always responded with 'Cannot GET/POST ...' while mocking.

How to fix that? Thanks.

[2016-12-14 10:08] alex-pex commented on #147
I may have the same problem. I tried to specify an action using a header and [a combination of an HTTP method and URI Template](https://apiblueprint.org/documentation/specification.html#keywords), but it isn't understood by Drakov.

[code]

I get `[LOG] Setup Route: GET /:clientToken/invoices/:invoiceId Get printable invoice` (notice that /print is missing in the url).

With the following doc:

[c

[2016-12-14 10:12] jeromeWeb commented on #147
+1

[2016-12-25 08:31] gpminsuk opened #149 "Line ending"
Hi, I'm a Windows user and running Drakov with Windows line ending does not work.

Is it a bug?

[INFO] No configuration files found
[INFO] Loading configuration from CLI
   DRAKOV STARTED
{ Error: Error parsing blueprint!
    at Object.Module.parse (C:\Users\mika\AppData\Roaming\npm\node_modules\drakov\node_modules\drafter.js\lib\drafter.no
mem.js:20:7869)
    at C:\Users\mika\AppData\Roaming\npm

[2016-12-26 04:02] viktomas opened #150 "Debug mode"
This is a feature request.

Drakov IMHO needs an opposite of `--stealthmode`. When using drakov, following scenario occur very often:

Drakov is not matching any of the loaded specifications and there is no way to figure out what exact request drakov receives.

I always have to change the drakov source code by adding a custom middleware at this line https://github.com/Aconex/drakov/blob/master/lib

[2017-01-12 22:32] cesarhdz commented on #149
+1

[2017-02-03 19:31] BrunoQuaresma opened #151 "Cannot POST /apps"
I have

[code]

Get the apps works, but POST not. Why?

ps.: I run the drakov using.: ./node_modules/.bin/drakov -f apiary.apib -p 4007 --autoOptions

[2017-02-06 13:28] BrunoQuaresma commented on #133
+1

[2017-02-07 08:11] freshsun commented on #133
+1

[2017-02-07 18:59] cyberduck-magento commented on #151
Also having this issue.

[2017-02-09 19:19] yakovkhalinsky commented on #133
An update for everyone watching this issue.

This is now under active investigation and I am hoping to have a fix/update in the next couple of weeks 👍

[2017-02-09 22:06] yakovkhalinsky commented on #150
Closing, please refer to #154 for more info

[2017-02-09 22:06] #150 closed

[2017-02-13 23:24] bwinterling opened #155 "Every other response fails."
First of all.  I want to thank you for all the hard work that has been put into this tool.  We're excited to use it and it has sped up our development.

Last week, something changed.  When sending the same exact request, every other response is matched incorrectly.  Here are some details to help with debugging:

Here's the dockerfile used with Drakov:
[code]

Here's the config.js
[code]

The reque

[2017-02-14 16:08] bwinterling commented on #155
On closer look (thanks for the better log messages!), the endpoint in question has three examples.  Looks like each time, the order they are processed flips.  (1,2,3) on the first run.  (3,2,1) on the second run.  It would be nice if the behavior was always (1,2,3) so that you can put more explicit endpoint first, and more generic (catch all) endpoints later, with predictable results.

This become

[2017-03-05 15:31] shahbaz07 opened #156 "Test are not working with latest drakov version"
Dear,

The examples those are under test are not working with latest drakov. It will be very helpful for new user for learning drakov.

Regards

Shahbaz Sajjad

[2017-03-08 10:38] jean opened #157 "drakov doesn't handle optional URL parameters?"
For

[code]

- 200 OK `http GET http://localhost:3000/api/v1/members/1`
- 404 Not Found `http GET http://localhost:3000/api/v1/members`

Both work at https://app.apiary.io/

[2017-03-10 12:22] atif opened #158 "Validation for Request Params"
I am trying to mock a MSON file using Drakov. The file is loaded properly and server runs at port 3000. One of my request url in file is:

### Get history books [GET /books/{id}?type=history]

  + Parameter
    + id : `1` (number, required) - ID of book
      + Default: `20`

  + Response 200 (application/json; charset=utf-8)
     + Attributes (fixed-type)
       - Include Book
       - bookdetail

[2017-03-13 07:39] atif commented on #158
^ @marcelogo , @yakovkhalinsky

[2017-03-15 18:21] subinvarghesein opened #159 "Ignore reserved headers in blueprint file"
According to [W3C](https://dvcs.w3.org/hg/xhr/raw-file/tip/Overview.html#the-setrequestheader()-method), following headers are reserved and can't be explicitly set by JS:

- header name starting with `Proxy-` or `Sec-`
- Accept-Charset
- Accept-Encoding
- Access-Control-Request-Headers
- Access-Control-Request-Method
- Connection
- Content-Length
- Cookie
- Cookie2
- Date
- DNT
- Expect
- Host
- K

[2017-03-21 07:37] starek4 commented on #149
+1

[2017-05-02 19:15] BrunoQuaresma commented on #133
Any updates?

[2017-06-03 14:31] Mouvedia opened #165 "Access-Control-Expose-Headers"
How do you set `Access-Control-Expose-Headers` so that I won't be only limited to the 6 simple response headers?

[2017-06-12 08:39] slodreamer commented on #149
+1

[2017-06-13 09:41] jaume-prat commented on #133
@yakovkhalinsky any updates on your "active" investigation :) ?

[2017-06-15 05:25] aj-jaswanth opened #167 "Express server callback is not called after switching to 'drafter'"
I tried to use the latest version of drakov 1.0.4. We have a gradle task that depends on the message `Listening on port` that is printed in the callback (https://github.com/Aconex/drakov/blob/master/lib/setup.js#L10). After upgrading the callback is not called after server loads all the API blueprint files. One observation is that, it is getting called after I send a request to drakov or open anot

[2017-06-15 15:54] jaume-prat commented on #118
The documentation says that it's still supported (Changing the API Blueprint adding a custom header does not count ;) )

The feature is very useful for client testing purpose only and does not force you to change the Blueprint, creating confusion confusion to the API users. I have also an example that I can't make it work also with this proposal:

[code]

[2017-07-04 11:15] niaomingjian commented on #149
+1

[2017-07-04 11:25] niaomingjian commented on #149
I have to change the `carriage return(s)` to fix the problem( `CR+LF =>LF`).
If no need to change the `carriage return(s)`, It would be great.

[2017-07-09 17:47] ashee opened #168 "Discover option does not work"
When I invoke drakov with --discover, the /discover endpoint is not created.
[code]
My setup
[code]

[2017-07-09 18:12] ashee commented on #168
Silly mistake, the endpoint is /drakov not /discover. Closing it.

[2017-07-09 18:12] #168 closed

[2017-07-14 04:24] aj-jaswanth commented on #167
More information, this is only happening on using `--public` option on drakov.

[2017-07-17 18:30] dgmike opened #170 "Incompatibility with body-parser"
I'm using _drakov_ as middleware on my application as the following.

[code]

The idea is to have a mixed application with final and mocked versions. All works fine except when _drakov_ tries to parse the request body. It causes the following error:

[code]

It occurs because `body-parser` converts the original `request.body` to JSON object and not a string.

[2017-07-17 19:39] dgmike opened #172 "Remove Wiki tab"
Remove wiki area if it will not be used.

[2017-08-15 16:05] dgmike commented on #170
Any answer for this question?

[2017-08-23 03:13] zqhong commented on #149
@niaomingjian good job, it works. thank you.

[2017-08-23 13:32] fenceer opened #174 "Can not match body request when Content-Type is x-www-form-urlencoded"

[2017-09-01 10:06] zqhong opened #175 "URI conflict"
I have project foo and project bar, they both have api `GET /search`. For this case, `drakov` will conflict as repeat URI.

So how to add prefix for URI. Such as, for project foo, the API is `GET /foo/search`. And for project bar, the API is `GET /bar/search`.

Or using the host for differentiate project foo and project bar. Like this, `GET http://mock.foo.com/search` will match project foo API. A

[2017-09-01 10:18] zqhong commented on #174
It like must entirely match the body. Try to use cURL to test this.

[2017-10-02 14:09] dgmike commented on #170
bump!

[2017-10-13 07:53] mossila opened #176 "Could not load the Visual C++ component "VCBuild.exe". To fix this"
After I npm install this package and I found this.
[code]

My system is Windows 10 with visual studio 2017 installed

npm version = 5.4.2
node version = 6.11.2

[2017-12-30 09:55] b1f6c1c4 opened #177 "CLI option `--ignoreHeader` causes error"
[code]
Then curl it will get:

    at Object.exports.matchesHeader (C:\Users\b1f6c1c4\AppData\Roaming\npm\node_modules\drakov\lib\content.js:115:53)
    at C:\Users\b1f6c1c4\AppData\Roaming\npm\node_modules\drakov\lib\handler-filter.js:6:24
    at Array.filter (<anonymous>)
    at Object.exports.filterHandlers (C:\Users\b1f6c1c4\AppData\Roaming\npm\node_modules\drakov\lib\handler-filter.js:36:37)

[2018-01-10 13:48] aj-jaswanth commented on #177
Hi @b1f6c1c4 This is fixed as part of https://github.com/Aconex/drakov/pull/166

[2018-01-11 05:07] aj-jaswanth commented on #156
Hi @shahbaz07, could you please tell how you were trying to run the examples?

[2018-01-12 09:11] subinvarghesein commented on #172
Done

[2018-01-12 09:11] #172 closed

[2018-01-22 05:14] #177 closed

[2018-02-16 18:18] kamihouse opened #178 "Missing URI parameters on mock advanced API Blueprint resources"
Hi guys.
I'm having some troubles while trying to mock some resources using the Blueprint API.

This resource is defined by a resource name (identifier) followed by an HTTP request method and an URI template enclosed in square brackets []:

`# <identifier> [<HTTP request method> <URI template>]`
Source: https://apiblueprint.org/documentation/specification.html#def-resource-section

For example:

[

[2018-03-09 19:18] emileber commented on #130
It would be best if it was documented (in the root readme) that this is not yet available from the option object passed to `.run`.

[2018-03-28 20:11] Dashue commented on #176
Run using powershell as admin
```npm install --global --production windows-build-tools```

This will take a couple of minutes

[2018-04-02 17:34] lucasmazza opened #179 "stealthmode does not disable all output"
We use drakov inside our jest/react integration tests and we noticed that the `stealthmode` setting does not disable all `console.log` output. we still get 5+ `console.log` calls: [1](https://github.com/Aconex/drakov/blob/e0d7cd4b79aa91f8bab98fdfe6bfa311c6cd3291/lib/setup.js#L15), [2](https://github.com/Aconex/drakov/blob/e0d7cd4b79aa91f8bab98fdfe6bfa311c6cd3291/lib/setup.js#L17), [3](https://gith

[2018-04-29 17:30] dgmike commented on #170
Closing this issue because there's no iteraction....

[2018-04-29 17:30] #170 closed

[2018-06-04 13:58] kamihouse opened #180 "Error on ignoreHeader command line argument"
When using the commands `--ignoreHeader Cookie` and `--ignoreHeader Authorization` I get the following error when accessing a resource:

`"drakov": "^1.0.4",`

[code]

![captura de tela 2018-06-04 as 10 56 46](https://user-images.githubusercontent.com/892340/40921542-1176de7a-67e6-11e8-9476-040f86596b74.png)

[2018-06-05 08:03] subinvarghesein commented on #180
@aj-jaswanth could this be related to your commit: https://github.com/Aconex/drakov/commit/5e6c9787c4dac5608a86295364c89a3479ff8cc1

[2018-06-06 09:02] aj-jaswanth commented on #180
Hi @kamihouse, are you seeing this issue when using both the `--ignoreHeader Cookie --ignoreHeader Authorization` together?

I saw this issue happening when only one `--ignoreHeader` is specified.
This issue was fixed as part of https://github.com/Aconex/drakov/commit/5e6c9787c4dac5608a86295364c89a3479ff8cc1 which is not yet released.

[2018-06-06 09:08] aj-jaswanth commented on #179
I think stealth mode can atleast log the `started event` https://github.com/Aconex/drakov/blob/master/lib/drakov.js#L17. It can be useful to determine if drakov has started. The rest can be silenced.

[2018-06-06 09:09] aj-jaswanth commented on #176
@mossila Has your issue been fixed?

[2018-06-06 09:12] aj-jaswanth commented on #175
Why don't you want to set `foo` as the context path for that service?

[2018-06-08 05:30] zqhong commented on #175
Sorry, I forgot why I want to do this.

[2018-06-08 05:30] #175 closed

[2018-06-11 19:30] kamihouse commented on #180
Hi @aj-jaswanth
Yes, the problem happens when I specify only one `--ignoreHeader`.

Thank you for your help!

[2018-06-26 09:12] #180 closed

[2018-07-13 07:41] LKDevelopment commented on #178
Did you find any solution for this? I have the same problem as you.

[2018-07-13 08:16] LKDevelopment commented on #178
@kamihouse

I fixed it currently hardcoded:
For my use case this now work. I'll try to find a more generic solution.
https://github.com/LKDevelopment/drakov/commit/a3e359071fd89b35551cd9ab6d06d2c7fa335df2

[2018-07-13 11:57] kamihouse commented on #178
Hi @LKDevelopment, In my case I stopped using action along with resources.
But I really enjoyed your proposed solution at https://github.com/LKDevelopment/drakov/commit/a3e359071fd89b35551cd9ab6d06d2c7fa335df2 \o/

For example:
`### Deleta um aviso [DELETE /veiculos/{id}/avisos/{id_aviso}]`

I solved by separating the feature from the action:

`### Aviso [/veiculos/{id}/avisos/{id_aviso}]`
...

`#

[2018-07-13 12:10] LKDevelopment commented on #178
i ve found out that there is already a better generic pr here in the repo :) #169	I've use now this code and it works perfectly!

[2018-07-27 13:11] PurpleBabar opened #181 "Docker"
Hey !
thanks for drakov it rocks !
I made a dockerfile for drkov, would you like me to make a PR to your repo so it will be the official image, or just add it to the README ?

cheerz

[2018-08-07 17:06] ehuebner commented on #151
Post needs a request body.

[2018-08-29 15:51] subinvarghesein commented on #181
Sorry for the late reply. We would be happy to have the PR.

[2018-08-29 16:49] #178 closed

[2018-08-29 16:49] #176 closed

[2018-12-13 13:15] narg95 opened #184 "Send parameter value in body"
Hi,

Is it possible to put a parameter value from the resource path into the json body response?

For example, a`GET /api/12345/foo/bar` responds with a json body containing the `12345` value:

[code]

[2018-12-17 08:25] narg95 opened #185 "Dump all request data"
Hi,

Is it possible to dump all request data in `--debugMode`, not just for `404`?

Thanks

[2019-04-22 09:51] vvscode opened #189 "Share the project with community"
@subinvarghesein  @krizalys  @boguan @Tavio @yakovkhalinsky

Hi, folks

Thanks for the great tool. But as far as I see - you have no time to support it (review PR, update dependencies and so on)

Would you mind to share the project with the community?

[2019-09-11 20:57] kamihouse commented on #189
@marcelogo @yakovkhalinsky @galkinrost @MartinNuc ?

[2019-09-12 02:16] yakovkhalinsky commented on #189
This project was created while I was employed at Aconex, which last year was acquired by Oracle.

I am not really qualified what this means in regards to the fate of this source code.

Someone who is currently employed at Oracle Aconex would be better positioned to answer this question.

[2019-09-14 15:11] vvscode commented on #189
@yakovkhalinsky  can you mention someone from that team?

[2019-09-15 06:06] vvscode commented on #189
@aj-jaswanth @liquidboy @marcelogo @Matty666 @nmarsden @tallpsmith @TroyWilsonAus @ykulbak

[2020-03-05 12:28] slax0rr opened #192 "ignoreHeader error, TypeError: ignoreHeaders.map is not a function"
Hello,

I wanted to set the `Authorization` header to ignore using the `--ignoreHeader` option, but it produces the bellow error when vising an endpoint:

[code]

Full command: `drakov -f public.apib -p 8080 --ignoreHeader Authorization`

Version: 1.0.4

[2020-05-10 05:39] ongspxm commented on #192
same issue, any possible area to look into?

[2020-06-09 07:57] #192 closed

[2020-11-02 08:32] Art4 commented on #189
Are there any updates about this topic?

[2020-11-04 03:26] tallpsmith commented on #189
I'm still here at Oracle and will be able to provide an official update on this repo soon.   My _intent_ is to get official Oracle blessing to keep this repo open-sourced.  It might require relocation to a new Github location and some tidy up, but I'm certainly trying to keep this one alive (we use this internally still ourselves).

I'll be contacting the original crew here privately (who are no l

[2020-11-04 03:27] yakovkhalinsky commented on #189
@tallpsmith I would certainly give my 👍 to having this stay open sourced.

Perhaps we need to clarify the license on this repo or the new repo as well.

[2020-11-04 03:40] tallpsmith commented on #189
@yakovkhalinsky  thanks - I'll be trying to setup a quick zoom chat with yourself and @marcelogo and anyone else that you might think important in the discussion, and I'll share you my thoughts of what I think might happen, plus I have a number of questions for you ... :-D

[2020-11-07 15:01] vvscode commented on #189
Please, keep us updated ))

I created the issue 1.5 year ago, but my request is still valid for a number of developers =)

[2020-11-09 02:06] tallpsmith commented on #189
I and a few others are progressively getting this repo back into healthy state.  Thanks to Yakov I now have access to the NPM registry permissions needed to be able to publish to the main NPM registry.  TravisCI is now back in the green, after dropping support for older Node versions.

I am wondering if there is a way we, as a group, can verify when the state of the repo is ready for an official 2

[2020-11-09 02:08] tallpsmith opened #195 "Add package-lock.json to the repo"
Based on feedback from @vvscode (see https://github.com/Aconex/drakov/pull/186)  and seemingly a good idea, we should commit the package-lock.json file.

[2020-11-10 01:11] #195 closed

[2020-11-12 05:53] tallpsmith opened #198 "Use release-it for release/distribution"
Leverage https://www.npmjs.com/package/release-it for release management

[2020-11-12 06:18] #198 closed

[2020-11-12 21:45] tallpsmith commented on #189
FYI I published a `2.0.1.beta.0` this morning, using `release-it`.  Oddly I had to go a `.1` here because of the way `release-it` parses the existing package.json's `2.0.0` version.

[code]

[2020-11-19 20:53] tallpsmith commented on #189
`2.0.1` official release is now public and pushed to NPM.  I'll continue to be the project sponsor for the time being, though there will be some others brought into to picture as well.

@vvscode  I'm going to close this issue as more of a tidy up, but if there's any further issues reach out to me. thanks.

[2020-11-19 20:53] #189 closed

[2021-05-11 06:27] engnakagawa opened #202 "public option not working"
[code]

envronment

[code]

[code]

[2021-05-18 07:20] amandoabreu opened #203 ""Endpoint not found""
After installing drakov globally I run `drakov -f index.md`

index.md is this file: https://raw.githubusercontent.com/apiaryio/api-blueprint/master/examples/Polls%20API.md

I always get "Endpoint not found". If I add the --discover flag, I still get "Endpoint not found" when going to /drakov

Mac os

[2021-06-03 06:33] engnakagawa commented on #202
hello 調子はいかがですか？

[2021-08-27 01:00] shimojomasatsugu commented on #202
FYI.
Worked with v1.0.4, not the latest version.

[2022-03-11 09:41] engnakagawa commented on #202
@shimojomasatsugu thank you <3

but I keep opened this issue until fix latest version.

[2022-07-29 04:02] DogFortune commented on #202
@engnakagawa Does it work if I add `true` to the option?

[code]

[2022-07-29 04:57] cohei commented on #202
👍 It works for me!